@screen-small: ~"(max-width: 414px)";
@screen-medium-down: ~"(min-width: 415px) and (max-width: 1060px)";
@screen-medium-up: ~"(min-width: 1061px) and (max-width: 1799px)";
@screen-medium: ~"(min-width: 415px) and (max-width: 1799px)";
@screen-large: ~"(min-width: 1800px)";

@multiplier-small: 3.65vw;
@multiplier-medium: 10.6vw;
@multiplier-large: 1px;