@import "fglobal";

.forum {
  @root: ~'.forum';

  &__wrap {
    @media @screen-large {
      max-width: 980*@multiplier-large;
      padding: 35*@multiplier-large 40*@multiplier-large;
      margin: 0 auto;
    }

    @media @screen-medium-up {
      max-width: 980px;
      padding: 35px 40px;
      margin: 0 auto;
    }

    @media @screen-medium-down {
      max-width: 980/@multiplier-medium;
      margin: 0 auto;
      padding: 35/@multiplier-medium 40/@multiplier-medium;
    }

    @media @screen-small {
      padding: 15/@multiplier-small 5/@multiplier-small;
    }
  }

  &__main-container {
    background: rgba(196, 196, 196, 0.5);

    @media @screen-large {
      padding: 10*@multiplier-large 20*@multiplier-large 20*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 10px 20px 20px;
    }

    @media @screen-medium-down {
      padding: 10/@multiplier-medium 20/@multiplier-medium 20/@multiplier-medium;
    }

    @media @screen-small {
      padding: 13/@multiplier-small 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);

    @media @screen-large {
      align-items: center;
      height: 40*@multiplier-large;
    }

    @media @screen-medium-up {
      align-items: center;
      height: 40px;
    }

    @media @screen-medium-down {
      align-items: center;
      height: 40/@multiplier-medium;
    }

    @media @screen-small {
      flex-direction: column;
      padding: 10/@multiplier-small 10/@multiplier-small 16/@multiplier-small;
    }
  }

  &__heder-menu-link {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    height: 100%;

    @media @screen-large {
      display: flex;
      align-items: center;
      font-size: 16*@multiplier-large;
      line-height: 19*@multiplier-large;
    }

    @media @screen-medium-up {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 19px;
    }

    @media @screen-medium-down {
      display: flex;
      align-items: center;
      font-size: 16/@multiplier-medium;
      line-height: 19/@multiplier-medium;
    }

    @media @screen-small {
      display: inline-block;
      font-size: 16/@multiplier-small;
      line-height: 19/@multiplier-small;
    }
  }

  &__heder-menu-list {
    display: flex;
    height: 100%;

    box-sizing: border-box;

    @media @screen-large {
      align-items: center;
      padding: 8*@multiplier-large 16*@multiplier-large 8*@multiplier-large 6*@multiplier-large;
    }

    @media @screen-medium-up {
      align-items: center;
      padding: 8px 16px 8px 6px;
    }

    @media @screen-medium-down {
      align-items: center;
      padding: 8/@multiplier-medium 16/@multiplier-medium 8/@multiplier-medium 6/@multiplier-medium;
    }

    @media @screen-small {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20/@multiplier-small;
    }

    li {
      height: 100%;

      @media @screen-large {
        border-right: 1px solid #fff;
        padding: 0 10*@multiplier-large;
      }

      @media @screen-medium-up {
        border-right: 1px solid #fff;
        padding: 0 10px;
      }

      @media @screen-medium-down {
        border-right: 1px solid #fff;
        padding: 0 10/@multiplier-medium;
      }

      @media @screen-small {
        margin: 2/@multiplier-small 0;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &__search-btn-wrap {
    display: flex;

    @media @screen-large {
      width: 18*@multiplier-large;
      height: 19*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 18px;
      height: 19px;
    }

    @media @screen-medium-down {
      width: 18/@multiplier-medium;
      height: 19/@multiplier-medium;
    }

    @media @screen-small {
      width: 18/@multiplier-small;
      height: 19/@multiplier-small;
    }

    svg {
      width: 100%;
    }
  }

  &__search-btn {
    border: 0;
    background-color: transparent;
  }

  &__heder-search {
    display: flex;
    box-sizing: border-box;
    height: 100%;

    @media @screen-large {
      padding: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 5px;
    }

    @media @screen-medium-down {
      padding: 5/@multiplier-medium;
    }

    @media @screen-small {

    }

    input {
      height: 100%;
      outline: none;
      border: 0;
      box-sizing: border-box;
      background-color: #fff;
      color: #333;

      @media @screen-large {
        width: 200*@multiplier-large;
        padding: 5*@multiplier-large 10*@multiplier-large;
        font-size: 16*@multiplier-large;
        line-height: 18*@multiplier-large;
        margin-right: 5*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 200px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 18px;
        margin-right: 5px;
      }

      @media @screen-medium-down {
        width: 200/@multiplier-medium;
        padding: 5/@multiplier-medium 10/@multiplier-medium;
        font-size: 16/@multiplier-medium;
        line-height: 18/@multiplier-medium;
        margin-right: 5/@multiplier-medium;
      }

      @media @screen-small {
        width: 200/@multiplier-small;
        padding: 5/@multiplier-small;
        font-size: 16/@multiplier-small;
        line-height: 18/@multiplier-small;
      }
    }
  }

  &__avtorisation-container {
    display: block;
    color: #333;

    @media @screen-large {
      text-align: right;
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
      margin-bottom: 13*@multiplier-large;
    }

    @media @screen-medium-up {
      text-align: right;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 13px;
    }

    @media @screen-medium-down {
      text-align: right;
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      margin-bottom: 13/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 13/@multiplier-small;
      line-height: 16/@multiplier-small;
      margin-bottom: 13/@multiplier-small;
      padding: 0 10/@multiplier-small;
    }

    a {
      color: #333;
      text-decoration: none;
      cursor: pointer;
      border-bottom: 1px dotted #333;

      &:hover {
        border-bottom: none;
      }
    }
  }

  &__breadcrumbs {
    display: flex;

    @media @screen-small {
      flex-wrap: wrap;
    }

    li {
      display: flex;

      @media @screen-large {
        margin-right: 2*@multiplier-large;
      }

      @media @screen-medium-up {
        margin-right: 2px;
      }

      @media @screen-medium-down {
        margin-right: 2/@multiplier-medium;
      }

      @media @screen-small {
        margin: 0 2/@multiplier-small 10/@multiplier-small 0;
      }

      &:last-child {
        @{root}__breadcrumbs-link-arrow {
          display: none;
        }
      }
    }
  }

  &__breadcrumbs-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #333;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 18*@multiplier-large;
      margin-right: 3*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 18px;
      margin-right: 3px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      margin-right: 3/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 16/@multiplier-small;
      margin-right: 3/@multiplier-small;
    }

    &:hover {
      border-bottom: 1px solid rgba(196, 196, 196, 0);
    }

    &.active {
      border-bottom: none;
      cursor: default;
      pointer-events: none;
    }
  }

  &__breadcrumbs-link-arrow {
    display: flex;

    @media @screen-large {
      width: 8*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 8px;
    }

    @media @screen-medium-down {
      width: 8/@multiplier-medium;
    }

    @media @screen-small {
      width: 8/@multiplier-small;
    }

    img {
      width: 100%;
      transform: rotate(90deg);
    }
  }

  &__breadcrumbs-pagination-contauner {
    display: flex;

    @media @screen-large {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10*@multiplier-large;
    }

    @media @screen-medium-up {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    @media @screen-medium-down {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10/@multiplier-medium;
    }

    @media @screen-small {
      flex-direction: column;
      margin-bottom: 10/@multiplier-small;
      padding: 0 10/@multiplier-small;
    }
  }

  &__pagination {
    display: flex;
  }

  &__pagination-link {
    text-decoration: none;
    cursor: pointer;
    color: #555;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
      padding: 0 2*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
      padding: 0 2px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      padding: 0 2/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
      padding: 0 2/@multiplier-small;
    }

    &.active {
      color: #000;
      font-weight: bold;
    }
  }

  &__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #16666F;

    @media @screen-large {
      height: 40*@multiplier-large;
      padding: 0 12*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 40px;
      padding: 0 12px;
    }

    @media @screen-medium-down {
      height: 40/@multiplier-medium;
      padding: 0 12/@multiplier-medium;
    }

    @media @screen-small {
      height: 40/@multiplier-small;
      padding: 0 10/@multiplier-small;
    }
  }

  &__section-header-icon {
    display: flex;

    @media @screen-large {
      width: 22*@multiplier-large;
      margin-right: 12*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 22px;
      margin-right: 12px;
    }

    @media @screen-medium-down {
      width: 22/@multiplier-medium;
      margin-right: 12/@multiplier-medium;
    }

    @media @screen-small {
      width: 22/@multiplier-small;
      margin-right: 12/@multiplier-small;
    }

    img {
      width: 100%;
    }
  }

  &__section-header-counter {
    cursor: pointer;
    text-decoration: none;
    color: #fff;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__section-header-title-container {
    display: flex;
  }

  &__section-header-title {
    color: #fff;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__section-table {
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(22, 102, 111, 0.1);

    th {
      border: 1px solid rgba(22, 102, 111, 0.1);

      @media @screen-large {
        font-size: 14*@multiplier-large;
        line-height: 18*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 14px;
        line-height: 18px;
      }

      @media @screen-medium-down {
        font-size: 14/@multiplier-medium;
        line-height: 18/@multiplier-medium;
      }

      @media @screen-small {

      }
    }

    td {
      @media @screen-large {
        font-size: 14*@multiplier-large;
        line-height: 18*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 14px;
        line-height: 18px;
      }

      @media @screen-medium-down {
        font-size: 14/@multiplier-medium;
        line-height: 18/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__section-post-table {
    background: #fff;
    width: 100%;
    border: 1px solid rgba(22, 102, 111, 0.1);

    @media @screen-large {
      border-spacing: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      border-spacing: 5px;
    }

    @media @screen-medium-down {
      border-spacing: 5/@multiplier-medium;
    }

    @media @screen-small {

    }

    tr {
      @media @screen-small {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    th {
      border: 1px solid rgba(22, 102, 111, 0.1);

      @media @screen-large {
        font-size: 14*@multiplier-large;
        line-height: 18*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 14px;
        line-height: 18px;
      }

      @media @screen-medium-down {
        font-size: 14/@multiplier-medium;
        line-height: 18/@multiplier-medium;
      }

      @media @screen-small {

      }
    }

    td {
      @media @screen-large {
        font-size: 14*@multiplier-large;
        line-height: 18*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 14px;
        line-height: 18px;
      }

      @media @screen-medium-down {
        font-size: 14/@multiplier-medium;
        line-height: 18/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__section-table-col-last-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(22, 102, 111, 0.1);

    @media @screen-large {
      width: 260*@multiplier-large;
      padding: 14*@multiplier-large 12*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 260px;
      padding: 14px 12px;
    }

    @media @screen-medium-down {
      width: 260/@multiplier-medium;
      padding: 14/@multiplier-medium 12/@multiplier-medium;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__section-table-col-message {
    text-align: center;
    border: 1px solid rgba(22, 102, 111, 0.1);

    @media @screen-large {
      width: 117*@multiplier-large;
      padding: 14*@multiplier-large 0;
    }

    @media @screen-medium-up {
      width: 117px;
      padding: 14px 0;
    }

    @media @screen-medium-down {
      width: 117/@multiplier-medium;
      padding: 14/@multiplier-medium 0;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__section-table-col-theme {
    text-align: center;
    border: 1px solid rgba(22, 102, 111, 0.1);

    @media @screen-large {
      width: 85*@multiplier-large;
      padding: 14*@multiplier-large 0;
    }

    @media @screen-medium-up {
      width: 85px;
      padding: 14px 0;
    }

    @media @screen-medium-down {
      width: 85/@multiplier-medium;
      padding: 14/@multiplier-medium 0;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__section-table-col-forum {
    text-align: left;
    border: 1px solid rgba(22, 102, 111, 0.1);
    box-sizing: border-box;

    @media @screen-large {
      padding: 14*@multiplier-large 12*@multiplier-large;
      min-width: 450*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 14px 12px;
      min-width: 450px;
    }

    @media @screen-medium-down {
      padding: 14/@multiplier-medium 12/@multiplier-medium;
      min-width: 450/@multiplier-medium;
    }

    @media @screen-small {
      padding: 8/@multiplier-small 5/@multiplier-small;
    }
  }

  &__category-forum-icon {
    @media @screen-large {
      width: 29*@multiplier-large;
      margin: 0 21*@multiplier-large 0 7*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 29px;
      margin: 0 21px 0 7px;
    }

    @media @screen-medium-down {
      width: 29/@multiplier-medium;
      margin: 0 21/@multiplier-medium 0 7/@multiplier-medium;
    }

    @media @screen-small {
      width: 25/@multiplier-small;
      margin: 0 10/@multiplier-small 0 7/@multiplier-small;
    }

    img {
      width: 100%;
    }
  }

  &__category-forum-container {
    display: flex;
    align-items: center;
  }

  &__category-forum-text-container {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__category-forum-text-title {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #3a3a3a;
    border-bottom: 1px solid #3a3a3a;

    &:hover {
      border-bottom: 1px solid rgba(58, 58, 58, 0);
    }
  }

  &__category-message-container {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__category-message {
    a {
      cursor: pointer;
      text-decoration: underline;
      color: #3a3a3a;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__section-container {
    @media @screen-large {
      margin-bottom: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 20px;
    }

    @media @screen-medium-down {
      margin-bottom: 20/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 20/@multiplier-small;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__theme-forum-icon {
    @media @screen-large {
      width: 29*@multiplier-large;
      margin: 0 21*@multiplier-large 0 7*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 29px;
      margin: 0 21px 0 7px;
    }

    @media @screen-medium-down {
      width: 29/@multiplier-medium;
      margin: 0 21/@multiplier-medium 0 7/@multiplier-medium;
    }

    @media @screen-small {
      width: 25/@multiplier-small;
      margin: 0 10/@multiplier-small 0 7/@multiplier-small;
    }

    img {
      width: 100%;
    }
  }

  &__theme-forum-container {
    display: flex;
    align-items: center;
  }

  &__theme-forum-text-container {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__theme-forum-text-title {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: #3a3a3a;

    &:hover {
      text-decoration: none;
    }
  }

  &__theme-message-container {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__theme-message {
    @media @screen-large {
      margin-bottom: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 5px;
    }

    @media @screen-medium-down {
      margin-bottom: 5/@multiplier-medium;
    }

    @media @screen-small {

    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__theme-forum-text-wrap {
    display: flex;

    @media @screen-large {
      margin-bottom: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 5px;
    }

    @media @screen-medium-down {
      margin-bottom: 5/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 10/@multiplier-small;
    }
  }

  &__theme-status {
    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
      margin-right: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
      margin-right: 5px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      margin-right: 5/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__section-table-col-user-info {
    vertical-align: top;
    background: rgba(75, 81, 92, 0.1);

    @media @screen-large {
      width: 221*@multiplier-large;
      padding: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 221px;
      padding: 5px;
    }

    @media @screen-medium-down {
      width: 221/@multiplier-medium;
      padding: 5/@multiplier-medium;
    }

    @media @screen-small {
      width: 100%;
    }
  }

  &__user-info {
    @media @screen-large {
      padding: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 20px;
    }

    @media @screen-medium-down {
      padding: 20/@multiplier-medium;
    }

    @media @screen-small {
      padding: 10/@multiplier-small;
    }
  }

  &__user-info-name {
    font-weight: bold;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__user-info-role {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
      margin-bottom: 10*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      margin-bottom: 10/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
      margin-bottom: 5/@multiplier-small;
    }
  }

  &__user-info-avatar {
    @media @screen-large {
      width: 160*@multiplier-large;
      height: auto;
      margin-bottom: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 160px;
      height: auto;
      margin-bottom: 5px;
    }

    @media @screen-medium-down {
      width: 160/@multiplier-medium;
      height: auto;
      margin-bottom: 5/@multiplier-medium;
    }

    @media @screen-small {
      width: 60/@multiplier-small;
      height: auto;
      margin-bottom: 5/@multiplier-small;
    }

    img {
      width: 100%;
    }
  }

  &__user-info-registration-date {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 12*@multiplier-large;
      line-height: 16*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 12px;
      line-height: 16px;
    }

    @media @screen-medium-down {
      font-size: 12/@multiplier-medium;
      line-height: 16/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 12/@multiplier-small;
      line-height: 16/@multiplier-small;
    }
  }

  &__user-info-message-quantity {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 12*@multiplier-large;
      line-height: 16*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 12px;
      line-height: 16px;
    }

    @media @screen-medium-down {
      font-size: 12/@multiplier-medium;
      line-height: 16/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 12/@multiplier-small;
      line-height: 16/@multiplier-small;
    }
  }

  &__post-message-container {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 20*@multiplier-large;
      padding: 0 0 15*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 20px;
      padding: 0 0 15px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 20/@multiplier-medium;
      padding: 0 0 15/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 13/@multiplier-small;
      line-height: 16/@multiplier-small;
      padding: 15/@multiplier-small 0;
    }

    img {
      @media @screen-large {
        max-width: 690*@multiplier-large;
        margin: 15*@multiplier-large 0;
      }

      @media @screen-medium-up {
        max-width: 690px;
        margin: 15px 0;
      }

      @media @screen-medium-down {
        max-width: 690/@multiplier-medium;
        margin: 15/@multiplier-medium 0;
      }

      @media @screen-small {
        max-width: 350/@multiplier-small;
        margin: 15/@multiplier-small 0;
      }
    }

    a {
      color: #16666f;
      text-decoration: none;
      border-bottom: 1px solid #16666f;

      &:hover {
        border-bottom: 1px solid rgba(214, 45, 45, 0);
      }
    }
  }

  &__section-table-col-content {
    position: relative;
    vertical-align: top;
  }

  textarea {
    @media @screen-large {
      height: 200*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 200px;
    }

    @media @screen-medium-down {
      height: 200/@multiplier-medium;
    }

    @media @screen-small {
      height: 200/@multiplier-small;
    }
  }

  &__form-group {
    position: relative;
    border: none;

    @media @screen-large {
      margin-bottom: 35*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 35px;
    }

    @media @screen-medium-down {
      margin-bottom: 35/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 35/@multiplier-small;
    }

    label {
      display: block;

      @media @screen-large {
        font-size: 16*@multiplier-large;
        margin-bottom: 10*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 16px;
        margin-bottom: 10px;
      }

      @media @screen-medium-down {
        font-size: 16/@multiplier-medium;
        margin-bottom: 10/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 16/@multiplier-small;
        margin-bottom: 10/@multiplier-small;
      }
    }

    select {
      width: 30%;

      @media @screen-large {
        padding: 5*@multiplier-large;
      }

      @media @screen-medium-up {
        padding: 5px;
      }

      @media @screen-medium-down {
        padding: 5/@multiplier-medium;
      }

      @media @screen-small {
        padding: 5/@multiplier-small;
      }
    }
  }

  &__form-topic-create {
    button {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid #218b97;
      background: #16666f;
      outline: none;

      @media @screen-large {
        font-size: 16*@multiplier-large;
        line-height: 18*@multiplier-large;
        padding: 5*@multiplier-large 10*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 10px;
      }

      @media @screen-medium-down {
        font-size: 16/@multiplier-medium;
        line-height: 18/@multiplier-medium;
        padding: 5/@multiplier-medium 10/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 16/@multiplier-small;
        line-height: 18/@multiplier-small;
        padding: 5/@multiplier-small 10/@multiplier-small;
      }
    }
  }

  &__form-control {
    display: block;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    width: 100%;
    color: #3a3a3a;
    background-color: transparent;
    background-image: none;
    border: none;
    border: 1px solid #CFD2D8;
    outline: none;
    transition: all 0.3s ease-out;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 30*@multiplier-large;
      padding: 0 5*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 30px;
      padding: 0 5px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 30/@multiplier-medium;
      padding: 0 5/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 30/@multiplier-small;
      padding: 0 5/@multiplier-small;
    }
  }

  &__topic-create-error {
    color: rgba(214, 45, 45, 0.7);
    position: absolute;

    @media @screen-large {
      font-size: 12*@multiplier-large;
      line-height: 16*@multiplier-large;
      bottom: -20*@multiplier-large;
      left: 0;
    }

    @media @screen-medium-up {
      font-size: 12px;
      line-height: 16px;
      bottom: -20px;
      left: 0;
    }

    @media @screen-medium-down {
      font-size: 12/@multiplier-medium;
      line-height: 16/@multiplier-medium;
      bottom: -20/@multiplier-medium;
      left: 0;
    }

    @media @screen-small {
      font-size: 12/@multiplier-small;
      line-height: 16/@multiplier-small;
      bottom: -20/@multiplier-small;
      left: 0;
    }
  }

  &__form-btn-container {
    text-align: right;
  }

  &__create-topic-container {
    display: flex;
    justify-content: flex-end;

    @media @screen-large {
      margin-top: 35*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-top: 35px;
    }

    @media @screen-medium-down {
      margin-top: 35/@multiplier-medium;
    }

    @media @screen-small {
      margin-top: 35/@multiplier-small;
    }
  }

  &__create-topic-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #218b97;
    background: #16666f;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 18*@multiplier-large;
      width: 95*@multiplier-large;
      height: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 18px;
      width: 95px;
      height: 30px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      width: 95/@multiplier-medium;
      height: 30/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 18/@multiplier-small;
      width: 95/@multiplier-small;
      height: 30/@multiplier-small;
    }
  }

  &__settings-link {
    color: #16666F;

    @media @screen-large {
      font-size: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 18px;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 18/@multiplier-small;
    }

    &:first-child {
      @media @screen-large {
        margin-right: 5*@multiplier-large;
      }

      @media @screen-medium-up {
        margin-right: 5px;
      }

      @media @screen-medium-down {
        margin-right: 5/@multiplier-medium;
      }

      @media @screen-small {
        margin-right: 5/@multiplier-small;
      }
    }
  }

  &__cabinet-container {
    background: #fff;

    @media @screen-large {
      margin: 70*@multiplier-large 0;
      padding: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      margin: 70px 0;
      padding: 20px;
    }

    @media @screen-medium-down {
      margin: 70/@multiplier-medium 0;
      padding: 20/@multiplier-medium;
    }

    @media @screen-small {
      margin: 70/@multiplier-small 0;
      padding: 20/@multiplier-small;
    }
  }

  &__cabinet-user-name {
    font-weight: 700;

    @media @screen-large {
      font-size: 32*@multiplier-large;
      line-height: 38*@multiplier-large;
      margin-bottom: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    @media @screen-medium-down {
      font-size: 32/@multiplier-medium;
      line-height: 38/@multiplier-medium;
      margin-bottom: 20/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 32/@multiplier-small;
      line-height: 38/@multiplier-small;
      margin-bottom: 20/@multiplier-small;
    }
  }

  &__user-avatar-img-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      margin-bottom: 20*@multiplier-large;
      max-width: 230*@multiplier-large;
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 10px;
      max-width: 230px;
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      margin-bottom: 10/@multiplier-medium;
      max-width: 230/@multiplier-medium;
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 10/@multiplier-small;
      max-width: 230/@multiplier-small;
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__user-avatar-container {
    position: relative;

    @media @screen-large {
      width: 250*@multiplier-large;
      margin-top: 10*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 250px;
      margin-top: 10px;
    }

    @media @screen-medium-down {
      width: 250/@multiplier-medium;
      margin-top: 10/@multiplier-medium;
    }

    @media @screen-small {
      width: 250/@multiplier-small;
      margin-top: 10/@multiplier-small;
    }
  }

  &__user-avatar-img {
    @media @screen-large {
      width: 160*@multiplier-large;
      height: auto;
      margin-bottom: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 160px;
      height: auto;
      margin-bottom: 20px;
    }

    @media @screen-medium-down {
      width: 160/@multiplier-medium;
      height: auto;
      margin-bottom: 20/@multiplier-medium;
    }

    @media @screen-small {
      width: 160/@multiplier-small;
      height: auto;
      margin-bottom: 20/@multiplier-small;
    }
  }

  &__user-remove-avatar-btn {
    position: absolute;
    cursor: pointer;

    @media @screen-large {
      top: -5*@multiplier-large;
      left: 172*@multiplier-large;
    }

    @media @screen-medium-up {
      top: -5px;
      left: 172px;
    }

    @media @screen-medium-down {
      top: -5/@multiplier-medium;
      left: 172/@multiplier-medium;
    }

    @media @screen-small {
      top: -5/@multiplier-small;
      left: 172/@multiplier-small;
    }
  }

  &__add-avatar-img-btn {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #218b97;
    background: #16666f;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 16*@multiplier-large;
      width: 140*@multiplier-large;
      height: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 16px;
      width: 140px;
      height: 30px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 16/@multiplier-medium;
      width: 140/@multiplier-medium;
      height: 30/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 16/@multiplier-small;
      width: 140/@multiplier-small;
      height: 30/@multiplier-small;
    }
  }

  &__user-add-avatar-container {
    position: relative;

    input {
      position: relative;
      outline: none;
      cursor: pointer;
      opacity: 0;
      z-index: 2;

      @media @screen-large {
        width: 162*@multiplier-large;
        height: 32*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 162px;
        height: 32px;
      }

      @media @screen-medium-down {
        width: 162/@multiplier-medium;
        height: 32/@multiplier-medium;
      }

      @media @screen-small {
        width: 162/@multiplier-small;
        height: 32/@multiplier-small;
      }
    }
  }

  &__user-avatar-error {
    color: #ed7171;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__section-header-answer-remove {
    position: absolute;
    color: #16666F;

    @media @screen-large {
      bottom: 6*@multiplier-large;
      right: 8*@multiplier-large;
      font-size: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      bottom: 6px;
      right: 8px;
      font-size: 18px;
    }

    @media @screen-medium-down {
      bottom: 6/@multiplier-medium;
      right: 8/@multiplier-medium;
      font-size: 18/@multiplier-medium;
    }

    @media @screen-small {
      bottom: 6/@multiplier-small;
      right: 8/@multiplier-small;
      font-size: 18/@multiplier-small;
    }
  }

  &__form-user-nick-create {
    @media @screen-large {
      margin-bottom: 35*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 35px;
    }

    @media @screen-medium-down {
      margin-bottom: 35/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 35/@multiplier-small;
    }

    @{root}__form-btn-container {
      text-align: left;
    }

    input {
      @media @screen-large {
        max-width: 300*@multiplier-large;
      }

      @media @screen-medium-up {
        max-width: 300px;
      }

      @media @screen-medium-down {
        max-width: 300/@multiplier-medium;
      }

      @media @screen-small {
        max-width: 300/@multiplier-small;
      }
    }

    button {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid #218b97;
      background: #16666f;
      outline: none;

      @media @screen-large {
        font-size: 16*@multiplier-large;
        line-height: 18*@multiplier-large;
        padding: 5*@multiplier-large 10*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 16px;
        line-height: 18px;
        padding: 5px 10px;
      }

      @media @screen-medium-down {
        font-size: 16/@multiplier-medium;
        line-height: 18/@multiplier-medium;
        padding: 5/@multiplier-medium 10/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 16/@multiplier-small;
        line-height: 18/@multiplier-small;
        padding: 5/@multiplier-small 10/@multiplier-small;
      }
    }
  }

  &__players-list {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #3a3a3a;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 18*@multiplier-large;
      padding: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 18px;
      padding: 30px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      padding: 30/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 18/@multiplier-small;
      padding: 30/@multiplier-small;
    }
  }

  &__players-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

    @media @screen-large {
      padding: 8*@multiplier-large 0;
    }

    @media @screen-medium-up {
      padding: 8px 0;
    }

    @media @screen-medium-down {
      padding: 8/@multiplier-medium 0;
    }

    @media @screen-small {
      padding: 8/@multiplier-small 0;
    }
  }

  &__players-cabinet {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #555;

    &:hover {
      border-bottom: 1px solid rgba(196, 196, 196, 0);
    }
  }

  &__players-edit {
    color: #444;
    border-bottom: none;
  }

  &__players-banned {
    a {
      color: #adaaaa;
    }

    @{root}__players-cabinet {
      border-bottom: 1px solid #adaaaa;
    }
  }
}

.wysibb {
  @media @screen-large {
    font-size: 16*@multiplier-large;
  }

  @media @screen-medium-up {
    font-size: 16px;
  }

  @media @screen-medium-down {
    font-size: 16/@multiplier-medium;
  }

  @media @screen-small {

  }
}