@import "fglobal";

.forum-content {
  @root: ~'.forum-content';
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media @screen-large {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 298*@multiplier-large;
  }

  @media @screen-medium-up {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 298px;
  }

  @media @screen-medium-down {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 298/@multiplier-medium;
  }

  @media @screen-small {
    background-image: url("/imgs/header_bg_narrow_m.png");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 200/@multiplier-small;
  }

  &__wrap {
    box-sizing: border-box;

    @media @screen-large {
      max-width: 1280*@multiplier-large;
      padding: 0 40*@multiplier-large;
      margin: 0 auto;
    }

    @media @screen-medium-up {
      max-width: 1280px;
      padding: 0 40px;
      margin: 0 auto;
    }

    @media @screen-medium-down {
      padding: 0 40/@multiplier-medium;
    }

    @media @screen-small {
      padding: 35/@multiplier-small 5/@multiplier-small;
    }
  }

  &__main-logo {
    display: block;
    cursor: pointer;

    @media @screen-large {
      margin: 95*@multiplier-large auto;
      width: 480*@multiplier-large;
    }

    @media @screen-medium-up {
      margin: 95px auto;
      width: 480px;
    }

    @media @screen-medium-down {
      margin: 95/@multiplier-medium auto;
      width: 480/@multiplier-medium;
    }

    @media @screen-small {
      width: 280/@multiplier-small;
      margin: 95/@multiplier-medium auto;
    }

    img {
      width: 100%;
    }
  }
}