@import "fglobal";

.forum-login {
  @root: ~'.forum-login';

  &__form-wrap {
    @media @screen-large {
      max-width: 350*@multiplier-large;
      margin: 50*@multiplier-large auto;
    }

    @media @screen-medium-up {
      max-width: 350px;
      margin: 50px auto;
    }

    @media @screen-medium-down {
      max-width: 350/@multiplier-medium;
      margin: 50/@multiplier-medium auto;
    }

    @media @screen-small {
      margin: 50/@multiplier-small 0;
      padding: 0 20/@multiplier-small;
    }
  }

  &__form {
    h1 {
      text-align: center;
      color: #555;

      @media @screen-large {
        font-size: 30*@multiplier-large;
        line-height: 36*@multiplier-large;
        margin-bottom: 15*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
      }

      @media @screen-medium-down {
        font-size: 30/@multiplier-medium;
        line-height: 36/@multiplier-medium;
        margin-bottom: 15/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 28/@multiplier-small;
        line-height: 34/@multiplier-small;
        margin-bottom: 15/@multiplier-small;
      }
    }
  }

  &__form-group {
    position: relative;
    border: none;

    @media @screen-large {
      margin-bottom: 40*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 40px;
    }

    @media @screen-medium-down {
      margin-bottom: 40/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 40/@multiplier-small;
    }
  }

  &__form-control {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    width: 100%;
    padding: 0;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px solid #CFD2D8;
    outline: none;
    transition: all 0.3s ease-out;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 30px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 30/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 30/@multiplier-small;
    }
  }

  &__error {
    position: absolute;
    color: #d86d6d;

    @media @screen-large {
      font-size: 13*@multiplier-large;
      line-height: 18*@multiplier-large;
      top: 32*@multiplier-large;
      left: 0;
    }

    @media @screen-medium-up {
      font-size: 13px;
      line-height: 18px;
      top: 32px;
      left: 0;
    }

    @media @screen-medium-down {
      font-size: 13/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      top: 32/@multiplier-medium;
      left: 0;
    }

    @media @screen-small {
      font-size: 13/@multiplier-small;
      line-height: 18/@multiplier-small;
      top: 32/@multiplier-small;
      left: 0;
    }
  }

  &__btn-wrap {
    text-align: center;
  }

  &__btn {
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    background: #16666f;
    color: #fff;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 26*@multiplier-large;
      padding: 0 10*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 26px;
      padding: 0 10px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 26/@multiplier-medium;
      padding: 0 10/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 26/@multiplier-small;
      padding: 0 10/@multiplier-small;
    }
  }
}