@import "fglobal";

.rules {
  @root: ~'.rules';

  &__container {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #555;

    @media @screen-large {
      padding: 40*@multiplier-large;
      font-size: 18*@multiplier-large;
      line-height: 24*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 40px;
      font-size: 18px;
      line-height: 24px;
    }

    @media @screen-medium-down {
      padding: 40/@multiplier-medium;
      font-size: 18/@multiplier-medium;
      line-height: 24/@multiplier-medium;
    }

    @media @screen-small {
      padding: 40/@multiplier-small;
      font-size: 18/@multiplier-small;
      line-height: 24/@multiplier-small;
    }

    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-align: center;

      @media @screen-large {
        font-size: 38*@multiplier-large;
        line-height: 48*@multiplier-large;
        letter-spacing: -1*@multiplier-large;
        margin-bottom: 20*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 38px;
        line-height: 48px;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }

      @media @screen-medium-down {
        font-size: 38/@multiplier-medium;
        line-height: 48/@multiplier-medium;
        letter-spacing: -1/@multiplier-medium;
        margin-bottom: 20/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 38/@multiplier-small;
        line-height: 48/@multiplier-small;
        letter-spacing: -1/@multiplier-small;
        margin-bottom: 20/@multiplier-small;
      }
    }

    p {
      @media @screen-large {
        margin-bottom: 10*@multiplier-large;
        min-height: 1*@multiplier-large;
      }

      @media @screen-medium-up {
        margin-bottom: 10px;
        min-height: 1px;
      }

      @media @screen-medium-down {
        margin-bottom: 24/@multiplier-medium;
        min-height: 1/@multiplier-medium;
      }

      @media @screen-small {
        margin-bottom: 24/@multiplier-small;
        min-height: 1/@multiplier-small;
      }
    }

    ol {
      @media @screen-large {
        padding-left: 30*@multiplier-large;
        margin-bottom: 10*@multiplier-large;
      }

      @media @screen-medium-up {
        padding-left: 30px;
        margin-bottom: 10px;
      }

      @media @screen-medium-down {
        padding-left: 30/@multiplier-medium;
        margin-bottom: 10/@multiplier-medium;
      }

      @media @screen-small {
        padding-left: 30/@multiplier-small;
        margin-bottom: 10/@multiplier-small;
      }
    }

    li {
      @media @screen-large {
        margin-bottom: 10*@multiplier-large;
      }

      @media @screen-medium-up {
        margin-bottom: 10px;
      }

      @media @screen-medium-down {
        margin-bottom: 10/@multiplier-medium;
      }

      @media @screen-small {
        margin-bottom: 10/@multiplier-small;
      }
    }
  }
}