.footer-1 {
  font-family: 'Roboto Condensed', sans-serif;
  flex: 0 0 auto;
  background: #111;
  color: #8C8C8B;
  width: 100%;
}
@media (min-width: 1800px) {
  .footer-1 {
    max-width: 2120px;
    padding: 40px 0;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .footer-1 {
    padding: 40px 0;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .footer-1 {
    padding: 3.77358491vw 0;
    font-size: 1.13207547vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .footer-1 {
    padding: 8.21917808vw 0 10.95890411vw;
    font-size: 3.28767123vw;
    line-height: 4.93150685vw;
  }
}
.footer-1__copy {
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 1800px) {
  .footer-1__copy {
    width: 500px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .footer-1__copy {
    width: 500px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .footer-1__copy {
    width: 47.16981132vw;
  }
}
@media (max-width: 414px) {
  .footer-1__copy {
    width: 88.76712329vw;
  }
}
.footer-1__logo {
  text-align: center;
}
@media (min-width: 1800px) {
  .footer-1__logo {
    height: 36px;
    margin-bottom: 26px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .footer-1__logo {
    height: 36px;
    margin-bottom: 26px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .footer-1__logo {
    height: 3.39622642vw;
    margin-bottom: 2.45283019vw;
  }
}
@media (max-width: 414px) {
  .footer-1__logo {
    height: 9.8630137vw;
    margin-bottom: 7.12328767vw;
  }
}
.footer-1__logo img {
  height: 100%;
}
.forum-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 1800px) {
  .forum-content {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 298px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-content {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 298px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-content {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 28.11320755vw;
  }
}
@media (max-width: 414px) {
  .forum-content {
    background-image: url("/imgs/header_bg_narrow_m.png");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 54.79452055vw;
  }
}
.forum-content__wrap {
  box-sizing: border-box;
}
@media (min-width: 1800px) {
  .forum-content__wrap {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-content__wrap {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-content__wrap {
    padding: 0 3.77358491vw;
  }
}
@media (max-width: 414px) {
  .forum-content__wrap {
    padding: 9.5890411vw 1.36986301vw;
  }
}
.forum-content__main-logo {
  display: block;
  cursor: pointer;
}
@media (min-width: 1800px) {
  .forum-content__main-logo {
    margin: 95px auto;
    width: 480px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-content__main-logo {
    margin: 95px auto;
    width: 480px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-content__main-logo {
    margin: 8.96226415vw auto;
    width: 45.28301887vw;
  }
}
@media (max-width: 414px) {
  .forum-content__main-logo {
    width: 76.71232877vw;
    margin: 8.96226415vw auto;
  }
}
.forum-content__main-logo img {
  width: 100%;
}
@media (min-width: 1800px) {
  .forum__wrap {
    max-width: 980px;
    padding: 35px 40px;
    margin: 0 auto;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__wrap {
    max-width: 980px;
    padding: 35px 40px;
    margin: 0 auto;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__wrap {
    max-width: 92.45283019vw;
    margin: 0 auto;
    padding: 3.30188679vw 3.77358491vw;
  }
}
@media (max-width: 414px) {
  .forum__wrap {
    padding: 4.10958904vw 1.36986301vw;
  }
}
.forum__main-container {
  background: rgba(196, 196, 196, 0.5);
}
@media (min-width: 1800px) {
  .forum__main-container {
    padding: 10px 20px 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__main-container {
    padding: 10px 20px 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__main-container {
    padding: 0.94339623vw 1.88679245vw 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .forum__main-container {
    padding: 3.56164384vw 0;
  }
}
.forum__header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 1800px) {
  .forum__header {
    align-items: center;
    height: 40px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__header {
    align-items: center;
    height: 40px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__header {
    align-items: center;
    height: 3.77358491vw;
  }
}
@media (max-width: 414px) {
  .forum__header {
    flex-direction: column;
    padding: 2.73972603vw 2.73972603vw 4.38356164vw;
  }
}
.forum__heder-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  height: 100%;
}
@media (min-width: 1800px) {
  .forum__heder-menu-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__heder-menu-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__heder-menu-link {
    display: flex;
    align-items: center;
    font-size: 1.50943396vw;
    line-height: 1.79245283vw;
  }
}
@media (max-width: 414px) {
  .forum__heder-menu-link {
    display: inline-block;
    font-size: 4.38356164vw;
    line-height: 5.20547945vw;
  }
}
.forum__heder-menu-list {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}
@media (min-width: 1800px) {
  .forum__heder-menu-list {
    align-items: center;
    padding: 8px 16px 8px 6px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__heder-menu-list {
    align-items: center;
    padding: 8px 16px 8px 6px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__heder-menu-list {
    align-items: center;
    padding: 0.75471698vw 1.50943396vw 0.75471698vw 0.56603774vw;
  }
}
@media (max-width: 414px) {
  .forum__heder-menu-list {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5.47945205vw;
  }
}
.forum__heder-menu-list li {
  height: 100%;
}
@media (min-width: 1800px) {
  .forum__heder-menu-list li {
    border-right: 1px solid #fff;
    padding: 0 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__heder-menu-list li {
    border-right: 1px solid #fff;
    padding: 0 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__heder-menu-list li {
    border-right: 1px solid #fff;
    padding: 0 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__heder-menu-list li {
    margin: 0.54794521vw 0;
  }
}
.forum__heder-menu-list li:last-child {
  border-right: none;
}
.forum__search-btn-wrap {
  display: flex;
}
@media (min-width: 1800px) {
  .forum__search-btn-wrap {
    width: 18px;
    height: 19px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__search-btn-wrap {
    width: 18px;
    height: 19px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__search-btn-wrap {
    width: 1.69811321vw;
    height: 1.79245283vw;
  }
}
@media (max-width: 414px) {
  .forum__search-btn-wrap {
    width: 4.93150685vw;
    height: 5.20547945vw;
  }
}
.forum__search-btn-wrap svg {
  width: 100%;
}
.forum__search-btn {
  border: 0;
  background-color: transparent;
}
.forum__heder-search {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}
@media (min-width: 1800px) {
  .forum__heder-search {
    padding: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__heder-search {
    padding: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__heder-search {
    padding: 0.47169811vw;
  }
}
.forum__heder-search input {
  height: 100%;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}
@media (min-width: 1800px) {
  .forum__heder-search input {
    width: 200px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 18px;
    margin-right: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__heder-search input {
    width: 200px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 18px;
    margin-right: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__heder-search input {
    width: 18.86792453vw;
    padding: 0.47169811vw 0.94339623vw;
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
    margin-right: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__heder-search input {
    width: 54.79452055vw;
    padding: 1.36986301vw;
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
  }
}
.forum__avtorisation-container {
  display: block;
  color: #333;
}
@media (min-width: 1800px) {
  .forum__avtorisation-container {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 13px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__avtorisation-container {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 13px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__avtorisation-container {
    text-align: right;
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
    margin-bottom: 1.22641509vw;
  }
}
@media (max-width: 414px) {
  .forum__avtorisation-container {
    font-size: 3.56164384vw;
    line-height: 4.38356164vw;
    margin-bottom: 3.56164384vw;
    padding: 0 2.73972603vw;
  }
}
.forum__avtorisation-container a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #333;
}
.forum__avtorisation-container a:hover {
  border-bottom: none;
}
.forum__breadcrumbs {
  display: flex;
}
@media (max-width: 414px) {
  .forum__breadcrumbs {
    flex-wrap: wrap;
  }
}
.forum__breadcrumbs li {
  display: flex;
}
@media (min-width: 1800px) {
  .forum__breadcrumbs li {
    margin-right: 2px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__breadcrumbs li {
    margin-right: 2px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__breadcrumbs li {
    margin-right: 0.18867925vw;
  }
}
@media (max-width: 414px) {
  .forum__breadcrumbs li {
    margin: 0 0.54794521vw 2.73972603vw 0;
  }
}
.forum__breadcrumbs li:last-child .forum__breadcrumbs-link-arrow {
  display: none;
}
.forum__breadcrumbs-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #333;
}
@media (min-width: 1800px) {
  .forum__breadcrumbs-link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 3px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__breadcrumbs-link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 3px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__breadcrumbs-link {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
    margin-right: 0.28301887vw;
  }
}
@media (max-width: 414px) {
  .forum__breadcrumbs-link {
    font-size: 3.83561644vw;
    line-height: 4.38356164vw;
    margin-right: 0.82191781vw;
  }
}
.forum__breadcrumbs-link:hover {
  border-bottom: 1px solid rgba(196, 196, 196, 0);
}
.forum__breadcrumbs-link.active {
  border-bottom: none;
  cursor: default;
  pointer-events: none;
}
.forum__breadcrumbs-link-arrow {
  display: flex;
}
@media (min-width: 1800px) {
  .forum__breadcrumbs-link-arrow {
    width: 8px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__breadcrumbs-link-arrow {
    width: 8px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__breadcrumbs-link-arrow {
    width: 0.75471698vw;
  }
}
@media (max-width: 414px) {
  .forum__breadcrumbs-link-arrow {
    width: 2.19178082vw;
  }
}
.forum__breadcrumbs-link-arrow img {
  width: 100%;
  transform: rotate(90deg);
}
.forum__breadcrumbs-pagination-contauner {
  display: flex;
}
@media (min-width: 1800px) {
  .forum__breadcrumbs-pagination-contauner {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__breadcrumbs-pagination-contauner {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__breadcrumbs-pagination-contauner {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__breadcrumbs-pagination-contauner {
    flex-direction: column;
    margin-bottom: 2.73972603vw;
    padding: 0 2.73972603vw;
  }
}
.forum__pagination {
  display: flex;
}
.forum__pagination-link {
  text-decoration: none;
  cursor: pointer;
  color: #555;
}
@media (min-width: 1800px) {
  .forum__pagination-link {
    font-size: 14px;
    line-height: 18px;
    padding: 0 2px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__pagination-link {
    font-size: 14px;
    line-height: 18px;
    padding: 0 2px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__pagination-link {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
    padding: 0 0.18867925vw;
  }
}
@media (max-width: 414px) {
  .forum__pagination-link {
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
    padding: 0 0.54794521vw;
  }
}
.forum__pagination-link.active {
  color: #000;
  font-weight: bold;
}
.forum__section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #16666F;
}
@media (min-width: 1800px) {
  .forum__section-header {
    height: 40px;
    padding: 0 12px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-header {
    height: 40px;
    padding: 0 12px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-header {
    height: 3.77358491vw;
    padding: 0 1.13207547vw;
  }
}
@media (max-width: 414px) {
  .forum__section-header {
    height: 10.95890411vw;
    padding: 0 2.73972603vw;
  }
}
.forum__section-header-icon {
  display: flex;
}
@media (min-width: 1800px) {
  .forum__section-header-icon {
    width: 22px;
    margin-right: 12px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-header-icon {
    width: 22px;
    margin-right: 12px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-header-icon {
    width: 2.0754717vw;
    margin-right: 1.13207547vw;
  }
}
@media (max-width: 414px) {
  .forum__section-header-icon {
    width: 6.02739726vw;
    margin-right: 3.28767123vw;
  }
}
.forum__section-header-icon img {
  width: 100%;
}
.forum__section-header-counter {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
@media (min-width: 1800px) {
  .forum__section-header-counter {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-header-counter {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-header-counter {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__section-header-counter {
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
  }
}
.forum__section-header-title-container {
  display: flex;
}
.forum__section-header-title {
  color: #fff;
}
@media (min-width: 1800px) {
  .forum__section-header-title {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-header-title {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-header-title {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__section-header-title {
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
  }
}
.forum__section-table {
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(22, 102, 111, 0.1);
}
.forum__section-table th {
  border: 1px solid rgba(22, 102, 111, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-table th {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table th {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table th {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (min-width: 1800px) {
  .forum__section-table td {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table td {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table td {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
.forum__section-post-table {
  background: #fff;
  width: 100%;
  border: 1px solid rgba(22, 102, 111, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-post-table {
    border-spacing: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-post-table {
    border-spacing: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-post-table {
    border-spacing: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__section-post-table tr {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.forum__section-post-table th {
  border: 1px solid rgba(22, 102, 111, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-post-table th {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-post-table th {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-post-table th {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (min-width: 1800px) {
  .forum__section-post-table td {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-post-table td {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-post-table td {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
.forum__section-table-col-last-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(22, 102, 111, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-table-col-last-message {
    width: 260px;
    padding: 14px 12px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table-col-last-message {
    width: 260px;
    padding: 14px 12px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table-col-last-message {
    width: 24.52830189vw;
    padding: 1.32075472vw 1.13207547vw;
  }
}
@media (max-width: 414px) {
  .forum__section-table-col-last-message {
    display: none;
  }
}
.forum__section-table-col-message {
  text-align: center;
  border: 1px solid rgba(22, 102, 111, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-table-col-message {
    width: 117px;
    padding: 14px 0;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table-col-message {
    width: 117px;
    padding: 14px 0;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table-col-message {
    width: 11.03773585vw;
    padding: 1.32075472vw 0;
  }
}
@media (max-width: 414px) {
  .forum__section-table-col-message {
    display: none;
  }
}
.forum__section-table-col-theme {
  text-align: center;
  border: 1px solid rgba(22, 102, 111, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-table-col-theme {
    width: 85px;
    padding: 14px 0;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table-col-theme {
    width: 85px;
    padding: 14px 0;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table-col-theme {
    width: 8.01886792vw;
    padding: 1.32075472vw 0;
  }
}
@media (max-width: 414px) {
  .forum__section-table-col-theme {
    display: none;
  }
}
.forum__section-table-col-forum {
  text-align: left;
  border: 1px solid rgba(22, 102, 111, 0.1);
  box-sizing: border-box;
}
@media (min-width: 1800px) {
  .forum__section-table-col-forum {
    padding: 14px 12px;
    min-width: 450px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table-col-forum {
    padding: 14px 12px;
    min-width: 450px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table-col-forum {
    padding: 1.32075472vw 1.13207547vw;
    min-width: 42.45283019vw;
  }
}
@media (max-width: 414px) {
  .forum__section-table-col-forum {
    padding: 2.19178082vw 1.36986301vw;
  }
}
@media (min-width: 1800px) {
  .forum__category-forum-icon {
    width: 29px;
    margin: 0 21px 0 7px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__category-forum-icon {
    width: 29px;
    margin: 0 21px 0 7px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__category-forum-icon {
    width: 2.73584906vw;
    margin: 0 1.98113208vw 0 0.66037736vw;
  }
}
@media (max-width: 414px) {
  .forum__category-forum-icon {
    width: 6.84931507vw;
    margin: 0 2.73972603vw 0 1.91780822vw;
  }
}
.forum__category-forum-icon img {
  width: 100%;
}
.forum__category-forum-container {
  display: flex;
  align-items: center;
}
.forum__category-forum-text-container {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__category-forum-text-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__category-forum-text-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__category-forum-text-container {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__category-forum-text-container {
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
  }
}
.forum__category-forum-text-title {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
}
.forum__category-forum-text-title:hover {
  border-bottom: 1px solid rgba(58, 58, 58, 0);
}
.forum__category-message-container {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__category-message-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__category-message-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__category-message-container {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
.forum__category-message a {
  cursor: pointer;
  text-decoration: underline;
  color: #3a3a3a;
}
.forum__category-message a:hover {
  text-decoration: none;
}
@media (min-width: 1800px) {
  .forum__section-container {
    margin-bottom: 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-container {
    margin-bottom: 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-container {
    margin-bottom: 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .forum__section-container {
    margin-bottom: 5.47945205vw;
  }
}
.forum__section-container:last-child {
  margin-bottom: 0;
}
@media (min-width: 1800px) {
  .forum__theme-forum-icon {
    width: 29px;
    margin: 0 21px 0 7px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__theme-forum-icon {
    width: 29px;
    margin: 0 21px 0 7px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__theme-forum-icon {
    width: 2.73584906vw;
    margin: 0 1.98113208vw 0 0.66037736vw;
  }
}
@media (max-width: 414px) {
  .forum__theme-forum-icon {
    width: 6.84931507vw;
    margin: 0 2.73972603vw 0 1.91780822vw;
  }
}
.forum__theme-forum-icon img {
  width: 100%;
}
.forum__theme-forum-container {
  display: flex;
  align-items: center;
}
.forum__theme-forum-text-container {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__theme-forum-text-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__theme-forum-text-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__theme-forum-text-container {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__theme-forum-text-container {
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
  }
}
.forum__theme-forum-text-title {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  color: #3a3a3a;
}
.forum__theme-forum-text-title:hover {
  text-decoration: none;
}
.forum__theme-message-container {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__theme-message-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__theme-message-container {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__theme-message-container {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (min-width: 1800px) {
  .forum__theme-message {
    margin-bottom: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__theme-message {
    margin-bottom: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__theme-message {
    margin-bottom: 0.47169811vw;
  }
}
.forum__theme-message:last-child {
  margin-bottom: 0;
}
.forum__theme-forum-text-wrap {
  display: flex;
}
@media (min-width: 1800px) {
  .forum__theme-forum-text-wrap {
    margin-bottom: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__theme-forum-text-wrap {
    margin-bottom: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__theme-forum-text-wrap {
    margin-bottom: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__theme-forum-text-wrap {
    margin-bottom: 2.73972603vw;
  }
}
@media (min-width: 1800px) {
  .forum__theme-status {
    font-size: 14px;
    line-height: 18px;
    margin-right: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__theme-status {
    font-size: 14px;
    line-height: 18px;
    margin-right: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__theme-status {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
    margin-right: 0.47169811vw;
  }
}
.forum__section-table-col-user-info {
  vertical-align: top;
  background: rgba(75, 81, 92, 0.1);
}
@media (min-width: 1800px) {
  .forum__section-table-col-user-info {
    width: 221px;
    padding: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-table-col-user-info {
    width: 221px;
    padding: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-table-col-user-info {
    width: 20.8490566vw;
    padding: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__section-table-col-user-info {
    width: 100%;
  }
}
@media (min-width: 1800px) {
  .forum__user-info {
    padding: 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-info {
    padding: 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-info {
    padding: 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .forum__user-info {
    padding: 2.73972603vw;
  }
}
.forum__user-info-name {
  font-weight: bold;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__user-info-name {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-info-name {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-info-name {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__user-info-name {
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
  }
}
.forum__user-info-role {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__user-info-role {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-info-role {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-info-role {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
    margin-bottom: 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__user-info-role {
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
    margin-bottom: 1.36986301vw;
  }
}
@media (min-width: 1800px) {
  .forum__user-info-avatar {
    width: 160px;
    height: auto;
    margin-bottom: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-info-avatar {
    width: 160px;
    height: auto;
    margin-bottom: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-info-avatar {
    width: 15.09433962vw;
    height: auto;
    margin-bottom: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__user-info-avatar {
    width: 16.43835616vw;
    height: auto;
    margin-bottom: 1.36986301vw;
  }
}
.forum__user-info-avatar img {
  width: 100%;
}
.forum__user-info-registration-date {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__user-info-registration-date {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-info-registration-date {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-info-registration-date {
    font-size: 1.13207547vw;
    line-height: 1.50943396vw;
  }
}
@media (max-width: 414px) {
  .forum__user-info-registration-date {
    font-size: 3.28767123vw;
    line-height: 4.38356164vw;
  }
}
.forum__user-info-message-quantity {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__user-info-message-quantity {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-info-message-quantity {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-info-message-quantity {
    font-size: 1.13207547vw;
    line-height: 1.50943396vw;
  }
}
@media (max-width: 414px) {
  .forum__user-info-message-quantity {
    font-size: 3.28767123vw;
    line-height: 4.38356164vw;
  }
}
.forum__post-message-container {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__post-message-container {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 15px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__post-message-container {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 15px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__post-message-container {
    font-size: 1.50943396vw;
    line-height: 1.88679245vw;
    padding: 0 0 1.41509434vw;
  }
}
@media (max-width: 414px) {
  .forum__post-message-container {
    font-size: 3.56164384vw;
    line-height: 4.38356164vw;
    padding: 4.10958904vw 0;
  }
}
@media (min-width: 1800px) {
  .forum__post-message-container img {
    max-width: 690px;
    margin: 15px 0;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__post-message-container img {
    max-width: 690px;
    margin: 15px 0;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__post-message-container img {
    max-width: 65.09433962vw;
    margin: 1.41509434vw 0;
  }
}
@media (max-width: 414px) {
  .forum__post-message-container img {
    max-width: 95.89041096vw;
    margin: 4.10958904vw 0;
  }
}
.forum__post-message-container a {
  color: #16666f;
  text-decoration: none;
  border-bottom: 1px solid #16666f;
}
.forum__post-message-container a:hover {
  border-bottom: 1px solid rgba(214, 45, 45, 0);
}
.forum__section-table-col-content {
  position: relative;
  vertical-align: top;
}
@media (min-width: 1800px) {
  .forum textarea {
    height: 200px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum textarea {
    height: 200px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum textarea {
    height: 18.86792453vw;
  }
}
@media (max-width: 414px) {
  .forum textarea {
    height: 54.79452055vw;
  }
}
.forum__form-group {
  position: relative;
  border: none;
}
@media (min-width: 1800px) {
  .forum__form-group {
    margin-bottom: 35px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-group {
    margin-bottom: 35px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-group {
    margin-bottom: 3.30188679vw;
  }
}
@media (max-width: 414px) {
  .forum__form-group {
    margin-bottom: 9.5890411vw;
  }
}
.forum__form-group label {
  display: block;
}
@media (min-width: 1800px) {
  .forum__form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-group label {
    font-size: 1.50943396vw;
    margin-bottom: 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__form-group label {
    font-size: 4.38356164vw;
    margin-bottom: 2.73972603vw;
  }
}
.forum__form-group select {
  width: 30%;
}
@media (min-width: 1800px) {
  .forum__form-group select {
    padding: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-group select {
    padding: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-group select {
    padding: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__form-group select {
    padding: 1.36986301vw;
  }
}
.forum__form-topic-create button {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #218b97;
  background: #16666f;
  outline: none;
}
@media (min-width: 1800px) {
  .forum__form-topic-create button {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-topic-create button {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-topic-create button {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
    padding: 0.47169811vw 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__form-topic-create button {
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
    padding: 1.36986301vw 2.73972603vw;
  }
}
.forum__form-control {
  display: block;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  width: 100%;
  color: #3a3a3a;
  background-color: transparent;
  background-image: none;
  border: none;
  border: 1px solid #CFD2D8;
  outline: none;
  transition: all 0.3s ease-out;
}
@media (min-width: 1800px) {
  .forum__form-control {
    font-size: 16px;
    line-height: 30px;
    padding: 0 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-control {
    font-size: 16px;
    line-height: 30px;
    padding: 0 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-control {
    font-size: 1.50943396vw;
    line-height: 2.83018868vw;
    padding: 0 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__form-control {
    font-size: 4.38356164vw;
    line-height: 8.21917808vw;
    padding: 0 1.36986301vw;
  }
}
.forum__topic-create-error {
  color: rgba(214, 45, 45, 0.7);
  position: absolute;
}
@media (min-width: 1800px) {
  .forum__topic-create-error {
    font-size: 12px;
    line-height: 16px;
    bottom: -20px;
    left: 0;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__topic-create-error {
    font-size: 12px;
    line-height: 16px;
    bottom: -20px;
    left: 0;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__topic-create-error {
    font-size: 1.13207547vw;
    line-height: 1.50943396vw;
    bottom: -1.88679245vw;
    left: 0;
  }
}
@media (max-width: 414px) {
  .forum__topic-create-error {
    font-size: 3.28767123vw;
    line-height: 4.38356164vw;
    bottom: -5.47945205vw;
    left: 0;
  }
}
.forum__form-btn-container {
  text-align: right;
}
.forum__create-topic-container {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1800px) {
  .forum__create-topic-container {
    margin-top: 35px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__create-topic-container {
    margin-top: 35px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__create-topic-container {
    margin-top: 3.30188679vw;
  }
}
@media (max-width: 414px) {
  .forum__create-topic-container {
    margin-top: 9.5890411vw;
  }
}
.forum__create-topic-btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #218b97;
  background: #16666f;
}
@media (min-width: 1800px) {
  .forum__create-topic-btn {
    font-size: 16px;
    line-height: 18px;
    width: 95px;
    height: 30px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__create-topic-btn {
    font-size: 16px;
    line-height: 18px;
    width: 95px;
    height: 30px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__create-topic-btn {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
    width: 8.96226415vw;
    height: 2.83018868vw;
  }
}
@media (max-width: 414px) {
  .forum__create-topic-btn {
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
    width: 26.02739726vw;
    height: 8.21917808vw;
  }
}
.forum__settings-link {
  color: #16666F;
}
@media (min-width: 1800px) {
  .forum__settings-link {
    font-size: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__settings-link {
    font-size: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__settings-link {
    font-size: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__settings-link {
    font-size: 4.93150685vw;
  }
}
@media (min-width: 1800px) {
  .forum__settings-link:first-child {
    margin-right: 5px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__settings-link:first-child {
    margin-right: 5px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__settings-link:first-child {
    margin-right: 0.47169811vw;
  }
}
@media (max-width: 414px) {
  .forum__settings-link:first-child {
    margin-right: 1.36986301vw;
  }
}
.forum__cabinet-container {
  background: #fff;
}
@media (min-width: 1800px) {
  .forum__cabinet-container {
    margin: 70px 0;
    padding: 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__cabinet-container {
    margin: 70px 0;
    padding: 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__cabinet-container {
    margin: 6.60377358vw 0;
    padding: 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .forum__cabinet-container {
    margin: 19.17808219vw 0;
    padding: 5.47945205vw;
  }
}
.forum__cabinet-user-name {
  font-weight: 700;
}
@media (min-width: 1800px) {
  .forum__cabinet-user-name {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__cabinet-user-name {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__cabinet-user-name {
    font-size: 3.01886792vw;
    line-height: 3.58490566vw;
    margin-bottom: 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .forum__cabinet-user-name {
    font-size: 8.76712329vw;
    line-height: 10.4109589vw;
    margin-bottom: 5.47945205vw;
  }
}
.forum__user-avatar-img-label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__user-avatar-img-label {
    margin-bottom: 20px;
    max-width: 230px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-avatar-img-label {
    margin-bottom: 10px;
    max-width: 230px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-avatar-img-label {
    margin-bottom: 0.94339623vw;
    max-width: 21.69811321vw;
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__user-avatar-img-label {
    margin-bottom: 2.73972603vw;
    max-width: 63.01369863vw;
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
  }
}
.forum__user-avatar-container {
  position: relative;
}
@media (min-width: 1800px) {
  .forum__user-avatar-container {
    width: 250px;
    margin-top: 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-avatar-container {
    width: 250px;
    margin-top: 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-avatar-container {
    width: 23.58490566vw;
    margin-top: 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__user-avatar-container {
    width: 68.49315068vw;
    margin-top: 2.73972603vw;
  }
}
@media (min-width: 1800px) {
  .forum__user-avatar-img {
    width: 160px;
    height: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-avatar-img {
    width: 160px;
    height: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-avatar-img {
    width: 15.09433962vw;
    height: auto;
    margin-bottom: 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .forum__user-avatar-img {
    width: 43.83561644vw;
    height: auto;
    margin-bottom: 5.47945205vw;
  }
}
.forum__user-remove-avatar-btn {
  position: absolute;
  cursor: pointer;
}
@media (min-width: 1800px) {
  .forum__user-remove-avatar-btn {
    top: -5px;
    left: 172px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-remove-avatar-btn {
    top: -5px;
    left: 172px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-remove-avatar-btn {
    top: -0.47169811vw;
    left: 16.22641509vw;
  }
}
@media (max-width: 414px) {
  .forum__user-remove-avatar-btn {
    top: -1.36986301vw;
    left: 47.12328767vw;
  }
}
.forum__add-avatar-img-btn {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #218b97;
  background: #16666f;
}
@media (min-width: 1800px) {
  .forum__add-avatar-img-btn {
    font-size: 14px;
    line-height: 16px;
    width: 140px;
    height: 30px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__add-avatar-img-btn {
    font-size: 14px;
    line-height: 16px;
    width: 140px;
    height: 30px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__add-avatar-img-btn {
    font-size: 1.32075472vw;
    line-height: 1.50943396vw;
    width: 13.20754717vw;
    height: 2.83018868vw;
  }
}
@media (max-width: 414px) {
  .forum__add-avatar-img-btn {
    font-size: 3.83561644vw;
    line-height: 4.38356164vw;
    width: 38.35616438vw;
    height: 8.21917808vw;
  }
}
.forum__user-add-avatar-container {
  position: relative;
}
.forum__user-add-avatar-container input {
  position: relative;
  outline: none;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
@media (min-width: 1800px) {
  .forum__user-add-avatar-container input {
    width: 162px;
    height: 32px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-add-avatar-container input {
    width: 162px;
    height: 32px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-add-avatar-container input {
    width: 15.28301887vw;
    height: 3.01886792vw;
  }
}
@media (max-width: 414px) {
  .forum__user-add-avatar-container input {
    width: 44.38356164vw;
    height: 8.76712329vw;
  }
}
.forum__user-avatar-error {
  color: #ed7171;
}
@media (min-width: 1800px) {
  .forum__user-avatar-error {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__user-avatar-error {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__user-avatar-error {
    font-size: 1.32075472vw;
    line-height: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__user-avatar-error {
    font-size: 3.83561644vw;
    line-height: 4.93150685vw;
  }
}
.forum__section-header-answer-remove {
  position: absolute;
  color: #16666F;
}
@media (min-width: 1800px) {
  .forum__section-header-answer-remove {
    bottom: 6px;
    right: 8px;
    font-size: 18px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__section-header-answer-remove {
    bottom: 6px;
    right: 8px;
    font-size: 18px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__section-header-answer-remove {
    bottom: 0.56603774vw;
    right: 0.75471698vw;
    font-size: 1.69811321vw;
  }
}
@media (max-width: 414px) {
  .forum__section-header-answer-remove {
    bottom: 1.64383562vw;
    right: 2.19178082vw;
    font-size: 4.93150685vw;
  }
}
@media (min-width: 1800px) {
  .forum__form-user-nick-create {
    margin-bottom: 35px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-user-nick-create {
    margin-bottom: 35px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-user-nick-create {
    margin-bottom: 3.30188679vw;
  }
}
@media (max-width: 414px) {
  .forum__form-user-nick-create {
    margin-bottom: 9.5890411vw;
  }
}
.forum__form-user-nick-create .forum__form-btn-container {
  text-align: left;
}
@media (min-width: 1800px) {
  .forum__form-user-nick-create input {
    max-width: 300px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-user-nick-create input {
    max-width: 300px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-user-nick-create input {
    max-width: 28.30188679vw;
  }
}
@media (max-width: 414px) {
  .forum__form-user-nick-create input {
    max-width: 82.19178082vw;
  }
}
.forum__form-user-nick-create button {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #218b97;
  background: #16666f;
  outline: none;
}
@media (min-width: 1800px) {
  .forum__form-user-nick-create button {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__form-user-nick-create button {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__form-user-nick-create button {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
    padding: 0.47169811vw 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum__form-user-nick-create button {
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
    padding: 1.36986301vw 2.73972603vw;
  }
}
.forum__players-list {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #3a3a3a;
}
@media (min-width: 1800px) {
  .forum__players-list {
    font-size: 16px;
    line-height: 18px;
    padding: 30px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__players-list {
    font-size: 16px;
    line-height: 18px;
    padding: 30px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__players-list {
    font-size: 1.50943396vw;
    line-height: 1.69811321vw;
    padding: 2.83018868vw;
  }
}
@media (max-width: 414px) {
  .forum__players-list {
    font-size: 4.38356164vw;
    line-height: 4.93150685vw;
    padding: 8.21917808vw;
  }
}
.forum__players-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 1800px) {
  .forum__players-item {
    padding: 8px 0;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum__players-item {
    padding: 8px 0;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum__players-item {
    padding: 0.75471698vw 0;
  }
}
@media (max-width: 414px) {
  .forum__players-item {
    padding: 2.19178082vw 0;
  }
}
.forum__players-cabinet {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #555;
}
.forum__players-cabinet:hover {
  border-bottom: 1px solid rgba(196, 196, 196, 0);
}
.forum__players-edit {
  color: #444;
  border-bottom: none;
}
.forum__players-banned a {
  color: #adaaaa;
}
.forum__players-banned .forum__players-cabinet {
  border-bottom: 1px solid #adaaaa;
}
@media (min-width: 1800px) {
  .wysibb {
    font-size: 16px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .wysibb {
    font-size: 16px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .wysibb {
    font-size: 1.50943396vw;
  }
}
@media (min-width: 1800px) {
  .forum-login__form-wrap {
    max-width: 350px;
    margin: 50px auto;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-login__form-wrap {
    max-width: 350px;
    margin: 50px auto;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-login__form-wrap {
    max-width: 33.01886792vw;
    margin: 4.71698113vw auto;
  }
}
@media (max-width: 414px) {
  .forum-login__form-wrap {
    margin: 13.69863014vw 0;
    padding: 0 5.47945205vw;
  }
}
.forum-login__form h1 {
  text-align: center;
  color: #555;
}
@media (min-width: 1800px) {
  .forum-login__form h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-login__form h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-login__form h1 {
    font-size: 2.83018868vw;
    line-height: 3.39622642vw;
    margin-bottom: 1.41509434vw;
  }
}
@media (max-width: 414px) {
  .forum-login__form h1 {
    font-size: 7.67123288vw;
    line-height: 9.31506849vw;
    margin-bottom: 4.10958904vw;
  }
}
.forum-login__form-group {
  position: relative;
  border: none;
}
@media (min-width: 1800px) {
  .forum-login__form-group {
    margin-bottom: 40px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-login__form-group {
    margin-bottom: 40px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-login__form-group {
    margin-bottom: 3.77358491vw;
  }
}
@media (max-width: 414px) {
  .forum-login__form-group {
    margin-bottom: 10.95890411vw;
  }
}
.forum-login__form-control {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  width: 100%;
  padding: 0;
  color: #555;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #CFD2D8;
  outline: none;
  transition: all 0.3s ease-out;
}
@media (min-width: 1800px) {
  .forum-login__form-control {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-login__form-control {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-login__form-control {
    font-size: 1.50943396vw;
    line-height: 2.83018868vw;
  }
}
@media (max-width: 414px) {
  .forum-login__form-control {
    font-size: 4.38356164vw;
    line-height: 8.21917808vw;
  }
}
.forum-login__error {
  position: absolute;
  color: #d86d6d;
}
@media (min-width: 1800px) {
  .forum-login__error {
    font-size: 13px;
    line-height: 18px;
    top: 32px;
    left: 0;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-login__error {
    font-size: 13px;
    line-height: 18px;
    top: 32px;
    left: 0;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-login__error {
    font-size: 1.22641509vw;
    line-height: 1.69811321vw;
    top: 3.01886792vw;
    left: 0;
  }
}
@media (max-width: 414px) {
  .forum-login__error {
    font-size: 3.56164384vw;
    line-height: 4.93150685vw;
    top: 8.76712329vw;
    left: 0;
  }
}
.forum-login__btn-wrap {
  text-align: center;
}
.forum-login__btn {
  border: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  background: #16666f;
  color: #fff;
}
@media (min-width: 1800px) {
  .forum-login__btn {
    font-size: 14px;
    line-height: 26px;
    padding: 0 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .forum-login__btn {
    font-size: 14px;
    line-height: 26px;
    padding: 0 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .forum-login__btn {
    font-size: 1.32075472vw;
    line-height: 2.45283019vw;
    padding: 0 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .forum-login__btn {
    font-size: 3.83561644vw;
    line-height: 7.12328767vw;
    padding: 0 2.73972603vw;
  }
}
.rules__container {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #555;
}
@media (min-width: 1800px) {
  .rules__container {
    padding: 40px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .rules__container {
    padding: 40px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .rules__container {
    padding: 3.77358491vw;
    font-size: 1.69811321vw;
    line-height: 2.26415094vw;
  }
}
@media (max-width: 414px) {
  .rules__container {
    padding: 10.95890411vw;
    font-size: 4.93150685vw;
    line-height: 6.57534247vw;
  }
}
.rules__container h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1800px) {
  .rules__container h1 {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .rules__container h1 {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .rules__container h1 {
    font-size: 3.58490566vw;
    line-height: 4.52830189vw;
    letter-spacing: -0.09433962vw;
    margin-bottom: 1.88679245vw;
  }
}
@media (max-width: 414px) {
  .rules__container h1 {
    font-size: 10.4109589vw;
    line-height: 13.15068493vw;
    letter-spacing: -0.2739726vw;
    margin-bottom: 5.47945205vw;
  }
}
@media (min-width: 1800px) {
  .rules__container p {
    margin-bottom: 10px;
    min-height: 1px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .rules__container p {
    margin-bottom: 10px;
    min-height: 1px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .rules__container p {
    margin-bottom: 2.26415094vw;
    min-height: 0.09433962vw;
  }
}
@media (max-width: 414px) {
  .rules__container p {
    margin-bottom: 6.57534247vw;
    min-height: 0.2739726vw;
  }
}
@media (min-width: 1800px) {
  .rules__container ol {
    padding-left: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .rules__container ol {
    padding-left: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .rules__container ol {
    padding-left: 2.83018868vw;
    margin-bottom: 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .rules__container ol {
    padding-left: 8.21917808vw;
    margin-bottom: 2.73972603vw;
  }
}
@media (min-width: 1800px) {
  .rules__container li {
    margin-bottom: 10px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .rules__container li {
    margin-bottom: 10px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .rules__container li {
    margin-bottom: 0.94339623vw;
  }
}
@media (max-width: 414px) {
  .rules__container li {
    margin-bottom: 2.73972603vw;
  }
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background: #fff;
  min-height: 100vh;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ol {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
h1,
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.index-page {
  background: #f4f5f7;
}
.is-overflow {
  overflow: hidden;
}
@media (min-width: 1800px) {
  .bg-narrow {
    background-image: url("/imgs/header_bg_narrow.png");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 298px;
  }
}
@media (min-width: 1061px) and (max-width: 1799px) {
  .bg-narrow {
    background-image: url("/imgs/header_bg_narrow.png");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 298px;
  }
}
@media (min-width: 415px) and (max-width: 1060px) {
  .bg-narrow {
    background-image: url("/imgs/header_bg_narrow.png");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 28.11320755vw;
  }
}
@media (max-width: 414px) {
  .bg-narrow {
    background-image: url("/imgs/header_bg_narrow_m.png");
    background-position: center 0,0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 54.79452055vw;
  }
}
.hidden {
  display: none;
}
fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
table {
  border-spacing: 0;
}


/*# sourceMappingURL=forum.css.map*/