.icon-22 {
    font-size: 22px;
}

.glyphicon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.glyphicon-pencil::before {
    content: "\f044";
}

.glyphicon-trash::before {
    content: "\f2ed";
}

.glyphicon-eye-open::before {
    content: "\f06e";
}

body {
    font-family: Roboto Condensed,sans-serif;
    font-size: 16px;
}

.title-fixed-top > .btn,
.title-fixed-top > .input {
    position: relative;
    z-index: 2;
    float: left;
    margin: 0 5px;
}

.main-container {
    margin: 125px 0;
}
.shedule-container {
    margin: 70px 0;
}
.title-fixed-top {
    background: none repeat scroll 0 0 rgba(155, 155, 155, 0.5);
    left: 0;
    margin: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 900;
    height: 59px;
}

.title-fixed-top > .title-fixed-paginator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 62.5%;
    z-index: 1;
}
.title-fixed-top > .title-fixed-paginator > ul {
    margin: 8px 0;
}

.title-fixed-top > .title-fixed-top__select {
    position: relative;
    z-index: 2;
}

.title-fixed-top > .btn,
.title-fixed-top > .input {
    position: relative;
    z-index: 2;
    float: right;
    margin: 0 5px;
}

.multiselect--active {
    z-index: 3!important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.img-in-form {
    height: 80px;
}

.img-in-form-popup{
    max-width: 200px;
    margin: 6px 0 10px 0;
}

.order-product-header {
    margin: 5px;
    border-bottom: 1px solid  #ced4da;
    padding: 10px 15px;
    font-weight: bold;
}

.order-product {
    margin: 5px;
    border-bottom: 1px solid  #ced4da;
    padding: 10px 15px;
}

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    min-width: 80px;
    text-align: left;
}
@media only screen and (max-width: 767px) {
    .chosen-container {
        width: 100%;
    }
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}
.chosen-container a {
    cursor: pointer;
}
.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999;
}
.chosen-container .search-choice .group-name:after,
.chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ced4da;
    background: transparent;
    color: #000;
    padding: 0 34px 0 20px;
    font-size: 1rem;
    line-height: 46px;
    height: 38px;
    border-radius: .25rem;
    background-clip: padding-box;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.form-group_error .chosen-container-single .chosen-single {
    border-color: #bf0000;
}
.form-group_success .chosen-container-single .chosen-single {
    border-color: #3c6;
}
/*{
	display: block;
}*/
.chosen-container-single .chosen-default {
    color: #999;
}
.chosen-container-single .chosen-single > span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: image-url("chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.chosen-container-single .chosen-single div b {
    position: relative;
    display: block;
    width: 14px;
    text-align: center;
    line-height: 1;
    border: 7px solid transparent;
    border-top-color: #999;
    border-bottom: 0;
}
.chosen-container-single .chosen-single div b:before {
    position: absolute;
    top: -8px;
    left: -5px;
    display: block;
    content: '';
    border: 5px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 5px;
    white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: #fff image-url("chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    line-height: normal;
    border-radius: 0;
}
.chosen-container-single .chosen-drop {
    margin-top: 0px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 10px 16px;
    list-style: none;
    line-height: 1rem;
    word-wrap: normal;
    -webkit-touch-callout: none;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.form-style .chosen-container .chosen-results li.active-result {
    padding: 14px 16px;
}
.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #fff;
    color: #211f21;
}
.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto !important;
    height: 1%;
    cursor: text;
    border-bottom: 1px solid #ccc;
    background: transparent;
    color: #000;
    font-size: 1rem;
    line-height: 46px;
    height: 48px;
    border-radius: 0;
    background-clip: padding-box;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*{
	display: block;
}*/
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 0;
    padding: 0;
    height: 22px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    font-size: 1.125rem;
    line-height: 1;
    color: #777;
    border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]::-webkit-input-placeholder {
    color: #777;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]:-moz-placeholder {
    color: #777;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]::-moz-placeholder {
    color: #777;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]:-ms-input-placeholder {
    color: #777;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 0 5px 0 0;
    padding: 3px 20px 3px 5px;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eee;
    color: #333;
    line-height: 13px;
    cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: transparent;
    font-size: 12px;
    color: #acacac;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    color: #777;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}
.chosen-container-active .chosen-single {
    color: #000;
}
.chosen-container-active .chosen-single div b:before {
    color: #363636;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border-bottom: 1px solid #acacac;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b:before {
    color: #363636;
}
.chosen-container-active .chosen-choices {
    border-bottom-color: #363636;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
}
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}
.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
}
.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
    left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: #fff image-url("chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

.js--order-product__remove {
    cursor: pointer;
}

#editModal .relation-table {
    margin: 30px 10px;
}

#editModal .relation-table .change-button {
    margin: 15px 0;
}

#secondModal .sort-input {
    float: right;
    width: 100px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .title-fixed-top > .btn,
    .title-fixed-top > .input {
        position: relative;
        z-index: 2;
        float: left;
        margin: 0 5px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}



.select-full-width {
    width: 100% !important;
}

.paginations {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.paginations>li {
    display: inline
}

.paginations>li>a,.paginations>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.paginations>li:first-child>a,.paginations>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.paginations>li:last-child>a,.paginations>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.paginations>li>a:hover,.paginations>li>span:hover,.paginations>li>a:focus,.paginations>li>span:focus {
    background-color: #eee
}

.paginations>.active>a,.paginations>.active>span,.paginations>.active>a:hover,.paginations>.active>span:hover,.paginations>.active>a:focus,.paginations>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca
}

.paginations>.disabled>span,.paginations>.disabled>span:hover,.paginations>.disabled>span:focus,.paginations>.disabled>a,.paginations>.disabled>a:hover,.paginations>.disabled>a:focus {
    color: #999;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.paginations-lg>li>a,.paginations-lg>li>span {
    padding: 10px 16px;
    font-size: 18px
}

.paginations-lg>li:first-child>a,.paginations-lg>li:first-child>span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.paginations-lg>li:last-child>a,.paginations-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.paginations-sm>li>a,.paginations-sm>li>span {
    padding: 5px 10px;
    font-size: 12px
}

.paginations-sm>li:first-child>a,.paginations-sm>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.paginations-sm>li:last-child>a,.paginations-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.td-0 {
    width: 5%;
}
.td-1 {
    width: 10%;
}
.td-2 {
    width: 20%;
}
.td-3 {
    width: 30%;
}
.td-4 {
    width: 40%;
}
.td-5 {
    width: 50%;
}
.td-6 {
    width: 60%;
}
.td-7 {
    width: 70%;
}
.td-8 {
    width: 80%;
}
.td-9 {
    width: 90%;
}

/*.td-col {
//width: 1%;
}*/
.td-col_id,
.td-col_checkbox,
.td-col_param {
    text-align: center;
}

.td-col_checkbox {
    width: 50px;
}

.td-col_id {
    width: 60px;
}

.td-col_param {
    width: 80px;
    white-space: nowrap;
}
.panel-body {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 10px;
}
.form-control_min-width-50 {
    min-width: 50px;
}

.vue-remover {
    cursor: pointer;
}

.vue-editer {
    cursor: pointer;
}

.img-vue-editer{
    position: absolute;
    margin-left: 5px;
}

.modal-dialog {
    max-width: none;
    width: 80%;
}

.dropdown-menu .inner {
    max-height: none!important;
}

/*урок в расписании*/
.calendar-event {
    padding: 3px;
}

.field-checklist .field-wrap .wrapper {
    width: 100%;
}

#notifies {
    position:fixed;
    width:300px;
    height:auto;
    z-index: 1000;
    bottom:0;
    right:0;
}

.page-item .active {
    background-color: lightskyblue;
}

.page-item {
    cursor: pointer;
}

.page-link {
    color: black!important;
}

.form-control-file{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 200px;
}

.checkbox-edit-popup{
    max-width: 13px;
    margin-top: 14px;
}

.js--modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.js--modal-overlay-img{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 32px;
    line-height: 1;
    margin-top: -16px;
    margin-left: -16px;
    width: 38px;
}

.hidden{
    display: none;
}

.td-img{
    width: 185px;
    text-align: center;
}

.td-date{
    width: 185px;
}

.svg-in-form{
    height: 32px;
}

.btn-save-confirm{
    cursor: pointer;
}

.btn-primary{
    cursor: pointer;
}

.select{
    cursor: pointer;
}

.th-link{
    cursor: pointer;
}

.td-date{
    white-space: nowrap;
    text-align: center;
}

.close{
    cursor: pointer;
}

.btn-secondary{
    cursor: pointer;
}

.custom-file-input{
    cursor: pointer;
}

.navbar-brand {
    width: 32px;
}

.players-counter-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
}

.players-counter-all {
    display: flex;
    margin-right: 15px;
}

.players-counter-active {
    display: flex;
}

.players-counter-all-title {
    margin-right: 5px;
}

.players-counter-active-title {
    margin-right: 5px;
}

.players-counter-all-quantity, .players-counter-active-quantity {
    font-weight: bold;
}