@media (min-width: 1800px) {
    .index {
        background-image: url("../imgs/header_bg.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 930px;
    }
}
@media (min-width: 1280px) and (max-width: 1799px) {
    .index {
        background-image: url("../imgs/header_bg.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 930px;
    }
}
@media (min-width: 415px) and (max-width: 1279px) {
    .index {
        background-image: url("../imgs/header_bg.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 72.65625vw;
    }
}
@media (max-width: 414px) {
    .index {
        background-image: url("../imgs/index_header_bg_m.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 320.54794521vw;
    }
}

.no-pointer {
    cursor: auto;
}

@media (min-width: 1800px) {
    .bg-narrow {
        background-image: url("../imgs/header_bg_narrow.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 298px;
    }
}
@media (min-width: 1280px) and (max-width: 1799px) {
    .bg-narrow {
        background-image: url("../imgs/header_bg_narrow.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 298px;
    }
}
@media (min-width: 415px) and (max-width: 1279px) {
    .bg-narrow {
        background-image: url("../imgs/header_bg_narrow.jpg");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 23.28125vw;
    }
}
@media (max-width: 414px) {
    .bg-narrow {
        background-image: url("../imgs/header_bg_narrow_m.png");
        background-position: center 0,0 0;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 54.79452055vw;
    }
}