@import "global";

.about-1 {
	@root: ~'.about-1';
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	color: #555;

	@media @screen-large {
		font-size: 18*@multiplier-large;
		line-height: 24*@multiplier-large;
	}

	@media @screen-medium-up {
		font-size: 18px;
		line-height: 24px;
	}

	@media @screen-medium-down {
		font-size: 18/@multiplier-medium;
		line-height: 24/@multiplier-medium;
	}

	@media @screen-small {
		font-size: 18/@multiplier-small;
		line-height: 24/@multiplier-small;
		padding-top: 11/@multiplier-small;
	}

	&__wrap {
		box-sizing: border-box;

		@media @screen-large {
			max-width: 880*@multiplier-large;
			padding: 140*@multiplier-large 40*@multiplier-large 130*@multiplier-large;
			margin: 0 auto;
		}

		@media @screen-medium-up {
			max-width: 880px;
			padding: 140px 40px 130px;
			margin: 0 auto;
		}

		@media @screen-medium-down {
			max-width: 880/@multiplier-medium;
			padding: 140/@multiplier-medium 40/@multiplier-medium 130/@multiplier-medium;
			margin: 0 auto;
		}

		@media @screen-small {
			padding: 70/@multiplier-small 20/@multiplier-small;
		}
	}

	h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;

		@media @screen-large {
			text-align: center;
			font-size: 48*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
			margin-bottom: 45*@multiplier-large;
		}

		@media @screen-medium-up {
			text-align: center;
			font-size: 48px;
			letter-spacing: -1px;
			margin-bottom: 45px;
		}

		@media @screen-medium-down {
			text-align: center;
			font-size: 48/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
			margin-bottom: 45/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 32/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
			margin-bottom: 25/@multiplier-small;
		}
	}

	h2 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;

		@media @screen-large {
			text-align: center;
			font-size: 32*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
			padding: 16*@multiplier-large 0 0;
			margin-bottom: 30*@multiplier-large;
		}

		@media @screen-medium-up {
			text-align: center;
			font-size: 32px;
			letter-spacing: -1px;
			padding: 16px 0 0;
			margin-bottom: 30px;
		}

		@media @screen-medium-down {
			text-align: center;
			font-size: 32/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
			padding: 16/@multiplier-medium 0 0;
			margin-bottom: 30/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 26/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
			padding: 16/@multiplier-small 0 0;
			margin-bottom: 30/@multiplier-small;
		}
	}

	h3 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;

		@media @screen-large {
			font-size: 28*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
			margin-bottom: 30*@multiplier-large;
		}

		@media @screen-medium-up {
			font-size: 28px;
			letter-spacing: -1px;
			margin-bottom: 30px;
		}

		@media @screen-medium-down {
			font-size: 28/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
			margin-bottom: 30/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 24/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
			margin-bottom: 30/@multiplier-small;
		}
	}

	p {
		@media @screen-large {
			margin-bottom: 24*@multiplier-large;
		}

		@media @screen-medium-up {
			margin-bottom: 24px;
		}

		@media @screen-medium-down {
			margin-bottom: 24/@multiplier-medium;
		}

		@media @screen-small {
			margin-bottom: 24/@multiplier-small;
		}
	}

	a {
		text-decoration: none;
		color: #16666f;
		border-bottom: 1px solid #16666f;
		cursor: pointer;

		&:hover {
			border-bottom: none;
		}
	}

	&__special-info {
		background: rgba(20, 121, 140, 0.5);
		text-align: center;

		@media @screen-large {
			padding: 1*@multiplier-large 2*@multiplier-large;
			margin-bottom: 24*@multiplier-large;
		}

		@media @screen-medium-up {
			padding: 1px 2px;
			margin-bottom: 24px;
		}

		@media @screen-medium-down {
			padding: 1/@multiplier-medium 2/@multiplier-medium;
			margin-bottom: 24/@multiplier-medium;
		}

		@media @screen-small {
			padding: 3/@multiplier-small 4/@multiplier-small;
			margin-bottom: 24/@multiplier-small;
		}
	}

	&__special-alert-info {
		background: rgba(249, 0, 0, 0.66);
		text-align: center;
		color: #ffff;

		@media @screen-large {
			padding: 10*@multiplier-large 2*@multiplier-large;
			margin-bottom: 24*@multiplier-large;
		}

		@media @screen-medium-up {
			padding: 10px 2px;
			margin-bottom: 24px;
		}

		@media @screen-medium-down {
			padding: 10/@multiplier-medium 2/@multiplier-medium;
			margin-bottom: 24/@multiplier-medium;
		}

		@media @screen-small {
			padding: 10/@multiplier-small;
			margin-bottom: 24/@multiplier-small;
		}
	}

	&__bonuses-container {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;

		@media @screen-large {
			padding: 30*@multiplier-large 0 50*@multiplier-large;
		}

		@media @screen-medium-up {
			padding: 30px 0 50px;
		}

		@media @screen-medium-down {
			padding: 30/@multiplier-medium 0 50/@multiplier-medium;
		}

		@media @screen-small {
			padding: 30px 0 50px;
		}
	}

	&__bonus-item {
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		flex-direction: column;

		@media @screen-large {
			width: 33.333%;
			padding: 0 30*@multiplier-large;
		}

		@media @screen-medium-up {
			width: 33.333%;
			padding: 0 30px;
		}

		@media @screen-medium-down {
			width: 33.333%;
			padding: 0 30/@multiplier-medium;
		}

		@media @screen-small {
			width: 100%;
			padding: 30/@multiplier-small 20/@multiplier-small;
		}
	}

	&__bonus-item-img {
		text-align: center;

		img {
			@media @screen-large {
				width: 150*@multiplier-large;
				height: auto;
			}

			@media @screen-medium-up {
				width: 150px;
				height: auto;
			}

			@media @screen-medium-down {
				width: 150/@multiplier-medium;
				height: auto;
			}

			@media @screen-small {
				width: 150/@multiplier-small;
				height: auto;
			}
		}
	}

	&__bonus-item-description {
		text-align: center;

		@media @screen-large {
			font-size: 16*@multiplier-large;
			line-height: 24*@multiplier-large;
		}

		@media @screen-medium-up {
			font-size: 16px;
			line-height: 24px;
		}

		@media @screen-medium-down {
			font-size: 16/@multiplier-medium;
			line-height: 24/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 16/@multiplier-small;
			line-height: 24/@multiplier-small;
		}
	}

	&__gray-back {
		background: #e8e8e8;
	}
}