@import "global";

.amnesia-form-1 {
  @root: ~'.amnesia-form-1';

  &__step-1 {
    padding: 20px 30px;
    display: block;
    width: 100%;
    min-width: 440px;
    box-sizing: border-box;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      color: #555;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 36px;
    }
  }

  &__step-2 {
    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      color: #555;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  &__description {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #777;
    max-width: 380px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
  }

  &__step-2-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #777;
    max-width: 380px;
    font-size: 16px;
    line-height: 24px;
  }

  &__error {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    color: rgba(214, 45, 45, 0.7);
  }

  &__step-1-amnesia-btn-wrap {
    text-align: center;
  }

  &__step-1-amnesia-btn {
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    cursor: pointer;
    background: #16666f;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #218b97;
    font-size: 16px;
    line-height: 43px;
    padding: 0 40px;
  }
}

.js--amn-form-submit-loader {
  position: absolute;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  img {
    height: 100%;
  }
}