@import "global";

.content {
  @root: ~'.content';
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  &__wrap {
    box-sizing: border-box;

    @media @screen-large {
      max-width: 1280*@multiplier-large;
      padding: 0 40*@multiplier-large;
      margin: 0 auto;
    }

    @media @screen-medium-up {
      max-width: 1280px;
      padding: 0 40px;
      margin: 0 auto;
    }

    @media @screen-medium-down {
      padding: 0 40/@multiplier-medium;
    }

    @media @screen-small {
      padding: 0 20/@multiplier-small;
    }
  }

  &__spacer-full-header {
    @media @screen-large {
      height: 115*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 115px;
    }

    @media @screen-medium-down {
      height: 115/@multiplier-medium;
    }

    @media @screen-small {
      height: 56/@multiplier-small;
    }
  }

  &__main-logo {
    text-align: center;

    @media @screen-large {
      height: 115*@multiplier-large;
      margin: 29*@multiplier-large 0 27*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 115px;
      margin: 29px 0 27px;

    }

    @media @screen-medium-down {
      height: 115/@multiplier-medium;
      margin: 29/@multiplier-medium 0 27/@multiplier-medium;
    }

    @media @screen-small {
      height: 64/@multiplier-small;
      margin: 33/@multiplier-small 0 36/@multiplier-small;
    }

    img {
      height: 100%;
    }
  }
}