@import "global";

.page_error {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Roboto',sans-serif;
  line-height: 1.62;
  cursor: default;
  color: #14171a;
  background: #ebebeb;
}

.error-page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
}

.error-page__block {
  text-align: center;
  color: #285065;

  @media @screen-large {
    margin: 40*@multiplier-large auto;
    padding: 15*@multiplier-large;
    max-width: 650*@multiplier-large;
  }

  @media @screen-medium-up {
    margin: 40px auto;
    padding: 15px;
    max-width: 650px;
  }

  @media @screen-medium-down {
    margin: 40/@multiplier-medium auto;
    padding: 15/@multiplier-medium;
    max-width: 650/@multiplier-medium;
  }

  @media @screen-small {
    margin: 40/@multiplier-small auto;
    padding: 15/@multiplier-small;
    max-width: 650/@multiplier-small;
  }
}

.main-container {
  display: flex;
  flex: 1 0 auto;
  -webkit-box-flex: 1;
}

.error-page__number {
  line-height: 1;
  font-weight: 700;

  @media @screen-large {
    font-size: 200*@multiplier-large;
  }

  @media @screen-medium-up {
    font-size: 200px;
  }

  @media @screen-medium-down {
    font-size: 200/@multiplier-medium;
  }

  @media @screen-small {
    font-size: 150/@multiplier-small;
  }
}

.error-page__text {
  font-weight: 500;

  @media @screen-large {
    margin: 50*@multiplier-large 0 100*@multiplier-large;
    font-size: 32*@multiplier-large;
  }

  @media @screen-medium-up {
    margin: 50px 0 100px;
    font-size: 32px;
  }

  @media @screen-medium-down {
    margin: 50/@multiplier-medium 0 100/@multiplier-medium;
    font-size: 32/@multiplier-medium;
  }

  @media @screen-small {
    margin: 25/@multiplier-small 0 50/@multiplier-small;
    font-size: 32/@multiplier-small;
  }
}

.error-page__note {
  font-weight: 400;
  line-height: 1.33;

  @media @screen-large {
    font-size: 18*@multiplier-large;
  }

  @media @screen-medium-up {
    font-size: 18px;
  }

  @media @screen-medium-down {
    font-size: 18/@multiplier-medium;
  }

  @media @screen-small {
    font-size: 18/@multiplier-small;
  }
}

.error-page__btn {
  @media @screen-large {
    margin-top: 50*@multiplier-large;
  }

  @media @screen-medium-up {
    margin-top: 50px;
  }

  @media @screen-medium-down {
    margin-top: 50/@multiplier-medium;
  }

  @media @screen-small {
    margin-top: 50/@multiplier-small;
  }
}

.btn {

  display: inline-flex;
  align-items: center;

  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  background: #e53935;
  border: 2px solid #e53935;
  overflow: hidden;
  transition: all .3s ease-out;

  @media @screen-large {
    padding: 14*@multiplier-large 22*@multiplier-large;
    min-width: 160*@multiplier-large;
    border-radius: 24*@multiplier-large;
    font-size: 16*@multiplier-large;
  }

  @media @screen-medium-up {
    padding: 14px 22px;
    min-width: 160px;
    border-radius: 24px;
    font-size: 16px;
  }

  @media @screen-medium-down {
    padding: 14/@multiplier-medium 22/@multiplier-medium;
    min-width: 160/@multiplier-medium;
    border-radius: 24/@multiplier-medium;
    font-size: 16/@multiplier-medium;
  }

  @media @screen-small {
    padding: 14/@multiplier-small 22/@multiplier-small;
    min-width: 160/@multiplier-small;
    border-radius: 24/@multiplier-small;
    font-size: 16/@multiplier-small;
  }
}