@import "global";

.files-1 {
	@root: ~'.files-1';
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	color: #555;

	@media @screen-large {
		font-size: 18*@multiplier-large;
		line-height: 24*@multiplier-large;
	}

	@media @screen-medium-up {
		font-size: 18px;
		line-height: 24px;
	}

	@media @screen-medium-down {
		font-size: 18/@multiplier-medium;
		line-height: 24/@multiplier-medium;
	}

	@media @screen-small {
		font-size: 18/@multiplier-small;
		line-height: 24/@multiplier-small;
		padding-top: 11/@multiplier-small;
	}

	&__wrap {
		box-sizing: border-box;

		@media @screen-large {
			max-width: 880*@multiplier-large;
			padding: 100*@multiplier-large 40*@multiplier-large 100*@multiplier-large;
			margin: 0 auto;
		}

		@media @screen-medium-up {
			max-width: 880px;
			padding: 100px 40px 100px;
			margin: 0 auto;
		}

		@media @screen-medium-down {
			max-width: 880/@multiplier-medium;
			padding: 100/@multiplier-medium 40/@multiplier-medium 100/@multiplier-medium;
			margin: 0 auto;
		}

		@media @screen-small {
			padding: 30/@multiplier-small 20/@multiplier-small;
		}
	}

	&__registration-btn-wrap {
		text-align: center;
	}

	&__registration-btn {
		font-family: 'Roboto', sans-serif;
		display: inline-block;
		cursor: pointer;
		background: #16666f;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		border: 1px solid #218b97;

		@media @screen-large {
			font-size: 22*@multiplier-large;
			line-height: 59*@multiplier-large;
			padding: 0 40*@multiplier-large;
			margin-bottom: 90*@multiplier-large;
		}

		@media @screen-medium-up {
			font-size: 22px;
			line-height: 59px;
			padding: 0 40px;
			margin-bottom: 90px;
		}

		@media @screen-medium-down {
			font-size: 22/@multiplier-medium;
			line-height: 59/@multiplier-medium;
			padding: 0 40/@multiplier-medium;
			margin-bottom: 90/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 18/@multiplier-small;
			line-height: 50/@multiplier-small;
			padding: 0 30/@multiplier-small;
			margin-bottom: 40/@multiplier-small;
		}

		&:hover {
			background: #22747d;
		}
	}

	&__title-container {
		@media @screen-large {
			margin-bottom: 60*@multiplier-large;
		}

		@media @screen-medium-up {
			margin-bottom: 60px;
		}

		@media @screen-medium-down {
			margin-bottom: 60/@multiplier-medium;
		}

		@media @screen-small {
			margin-bottom: 30/@multiplier-small;
		}
	}

	h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;

		@media @screen-large {
			text-align: center;
			font-size: 48*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
			line-height: 52*@multiplier-large;
		}

		@media @screen-medium-up {
			text-align: center;
			font-size: 48px;
			letter-spacing: -1px;
			line-height: 52px;
		}

		@media @screen-medium-down {
			text-align: center;
			font-size: 48/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
			line-height: 52/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 32/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
		}
	}

	&__title-description {
		text-align: center;
		color: #f59292;


		@media @screen-large {
			font-size: 14*@multiplier-large;
			line-height: 18*@multiplier-large;
			margin-top: 10*@multiplier-large;
		}

		@media @screen-medium-up {
			font-size: 14px;
			line-height: 18px;
			margin-top: 10px;
		}

		@media @screen-medium-down {
			font-size: 14/@multiplier-medium;
			line-height: 18/@multiplier-medium;
			margin-top: 10/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 14/@multiplier-small;
			line-height: 18/@multiplier-small;
			margin-top: 10/@multiplier-small;
		}
	}

	&__patch-variant-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media @screen-large {
			margin-bottom: 120*@multiplier-large;
		}

		@media @screen-medium-up {
			margin-bottom: 120px;
		}

		@media @screen-medium-down {
			margin-bottom: 120/@multiplier-medium;
		}

		@media @screen-small {
			flex-direction: column-reverse;
		}
	}

	&__client-download-link-client {
		display: block;
		background: #7fac96;
		border-radius: 50%;
		position: relative;
		cursor: pointer;

		@media @screen-large {
			flex: 0 0 200*@multiplier-large;
			height: 200*@multiplier-large;
			width: 200*@multiplier-large;
		}

		@media @screen-medium-up {
			flex: 0 0 200px;
			height: 200px;
			width: 200px;
		}

		@media @screen-medium-down {
			flex: 0 0 200/@multiplier-medium;
			height: 200/@multiplier-medium;
			width: 200/@multiplier-medium;
		}

		@media @screen-small {
			flex: 0 0 200/@multiplier-small;
			height: 200/@multiplier-small;
			width: 200/@multiplier-small;
			margin-bottom: 30/@multiplier-small;
		}

		&:hover {
			background: #62917a;
		}
	}

	&__client-download-link-patch {
		display: block;
		background: #8ea97f;
		border-radius: 50%;
		position: relative;
		cursor: pointer;

		@media @screen-large {
			flex: 0 0 200*@multiplier-large;
			height: 200*@multiplier-large;
			width: 200*@multiplier-large;
		}

		@media @screen-medium-up {
			flex: 0 0 200px;
			height: 200px;
			width: 200px;
		}

		@media @screen-medium-down {
			flex: 0 0 200/@multiplier-medium;
			height: 200/@multiplier-medium;
			width: 200/@multiplier-medium;
		}

		@media @screen-small {
			flex: 0 0 200/@multiplier-small;
			height: 200/@multiplier-small;
			width: 200/@multiplier-small;
			margin-bottom: 30/@multiplier-small;
		}

		&:hover {
			background: #729062;
		}
	}

	&__client-download-instruction {
		background: #f5f6f6;

		@media @screen-large {
			flex: 0 0 300*@multiplier-large;
			width: 300*@multiplier-large;
			padding: 17*@multiplier-large 24*@multiplier-large;
		}

		@media @screen-medium-up {
			flex: 0 0 300px;
			width: 300px;
			padding: 17px 24px;
		}

		@media @screen-medium-down {
			flex: 0 0 300/@multiplier-medium;
			width: 300/@multiplier-medium;
			padding: 17/@multiplier-medium 24/@multiplier-medium;
		}

		@media @screen-small {
			box-sizing: border-box;
			width: 100%;
			padding: 17/@multiplier-small 24/@multiplier-small;
			margin-bottom: 30/@multiplier-small;
		}

		li {
			position: relative;

			@media @screen-large {
				padding-left: 15*@multiplier-large;
			}

			@media @screen-medium-up {
				padding-left: 15px;
			}

			@media @screen-medium-down {
				padding-left: 15/@multiplier-medium;
			}

			@media @screen-small {
				padding-left: 15/@multiplier-small;
			}

			&:before {
				content: "";
				position: absolute;
				background: #555;
				border-radius: 50%;

				@media @screen-large {
					width: 5*@multiplier-large;
					height: 5*@multiplier-large;
					left: 3*@multiplier-large;
					top: 9*@multiplier-large;
				}

				@media @screen-medium-up {
					width: 5px;
					height: 5px;
					left: 3px;
					top: 9px;
				}

				@media @screen-medium-down {
					width: 5/@multiplier-medium;
					height: 5/@multiplier-medium;
					left: 3/@multiplier-medium;
					top: 9/@multiplier-medium;
				}

				@media @screen-small {
					width: 5/@multiplier-small;
					height: 5/@multiplier-small;
					left: 3/@multiplier-small;
					top: 9/@multiplier-small;
				}
			}
		}
	}

	&__client-download-icon {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		display: block;

		@media @screen-large {
			width: 30*@multiplier-large;
			bottom: 50*@multiplier-large;
		}

		@media @screen-medium-up {
			width: 30px;
			bottom: 50px;
		}

		@media @screen-medium-down {
			width: 30/@multiplier-medium;
			bottom: 50/@multiplier-medium;
		}

		@media @screen-small {
			width: 30/@multiplier-small;
			bottom: 50/@multiplier-small;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__client-download-link-text {
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		display: inline-block;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		color: #fff;

		@media @screen-large {
			top: 50*@multiplier-large;
			font-size: 26*@multiplier-large;
			line-height: 32*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
		}

		@media @screen-medium-up {
			top: 50px;
			font-size: 26px;
			line-height: 32px;
			letter-spacing: -1px;
		}

		@media @screen-medium-down {
			top: 50/@multiplier-medium;
			font-size: 26/@multiplier-medium;
			line-height: 32/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
		}

		@media @screen-small {
			top: 50/@multiplier-small;
			font-size: 26/@multiplier-small;
			line-height: 32/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
		}
	}

	&__client-download-link-icon-torrent {
		position: absolute;

		@media @screen-large {
			width: 36*@multiplier-large;
			top: 27*@multiplier-large;
			right: 39*@multiplier-large;
		}

		@media @screen-medium-up {
			width: 36px;
			top: 27px;
			right: 39px;
		}

		@media @screen-medium-down {
			width: 36/@multiplier-medium;
			top: 27/@multiplier-medium;
			right: 39/@multiplier-medium;
		}

		@media @screen-small {
			width: 36/@multiplier-small;
			top: 27/@multiplier-small;
			right: 39/@multiplier-small;
		}

		img {
			width: 100%;
		}
	}

	&__full-variant-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@media @screen-small {
			flex-direction: column-reverse;
			margin-bottom: 60/@multiplier-small;
		}
	}

	&__client-download-link-full-client {
		display: block;
		background: #a4aeb0;
		border-radius: 50%;
		position: relative;
		cursor: pointer;

		@media @screen-large {
			flex: 0 0 200*@multiplier-large;
			height: 200*@multiplier-large;
			width: 200*@multiplier-large;
		}

		@media @screen-medium-up {
			flex: 0 0 200px;
			height: 200px;
			width: 200px;
		}

		@media @screen-medium-down {
			flex: 0 0 200/@multiplier-medium;
			height: 200/@multiplier-medium;
			width: 200/@multiplier-medium;
		}

		@media @screen-small {
			flex: 0 0 200/@multiplier-small;
			height: 200/@multiplier-small;
			width: 200/@multiplier-small;
		}

		&:hover {
			background: #859193;
		}
	}

	&__client-download-link-icon-google-drive {
		position: absolute;

		@media @screen-large {
			width:14*@multiplier-large;
			top: 33*@multiplier-large;
			right: 48*@multiplier-large;
		}

		@media @screen-medium-up {
			width: 14px;
			top: 33px;
			right: 48px;
		}

		@media @screen-medium-down {
			width: 14/@multiplier-medium;
			top: 33/@multiplier-medium;
			right: 48/@multiplier-medium;
		}

		@media @screen-small {
			width: 14/@multiplier-small;
			top: 33/@multiplier-small;
			right: 48/@multiplier-small;
		}

		img {
			width: 100%;
		}
	}

	&__client-download-instruction-full-client {
		background: #f5f6f6;

		@media @screen-large {
			flex: 0 0 300*@multiplier-large;
			width: 300*@multiplier-large;
			padding: 40*@multiplier-large 24*@multiplier-large;
			margin-left: 27*@multiplier-large;
		}

		@media @screen-medium-up {
			flex: 0 0 300px;
			width: 300px;
			padding: 40px 24px;
			margin-left: 27px;
		}

		@media @screen-medium-down {
			flex: 0 0 300/@multiplier-medium;
			width: 300/@multiplier-medium;
			padding: 40/@multiplier-medium 24/@multiplier-medium;
			margin-left: 27/@multiplier-medium;
		}

		@media @screen-small {
			box-sizing: border-box;
			width: 100%;
			padding: 17/@multiplier-small 24/@multiplier-small;
			margin-bottom: 30/@multiplier-small;
		}

		li {
			position: relative;

			@media @screen-large {
				padding-left: 15*@multiplier-large;
			}

			@media @screen-medium-up {
				padding-left: 15px;
			}

			@media @screen-medium-down {
				padding-left: 15/@multiplier-medium;
			}

			@media @screen-small {
				padding-left: 15/@multiplier-small;
			}

			&:before {
				content: "";
				position: absolute;
				background: #555;
				border-radius: 50%;

				@media @screen-large {
					width: 5*@multiplier-large;
					height: 5*@multiplier-large;
					left: 3*@multiplier-large;
					top: 9*@multiplier-large;
				}

				@media @screen-medium-up {
					width: 5px;
					height: 5px;
					left: 3px;
					top: 9px;
				}

				@media @screen-medium-down {
					width: 5/@multiplier-medium;
					height: 5/@multiplier-medium;
					left: 3/@multiplier-medium;
					top: 9/@multiplier-medium;
				}

				@media @screen-small {
					width: 5/@multiplier-small;
					height: 5/@multiplier-small;
					left: 3/@multiplier-small;
					top: 9/@multiplier-small;
				}
			}
		}
	}
}