@import "global";

.footer-1 {
  font-family: 'Roboto Condensed', sans-serif;
  flex: 0 0 auto;
  background: #111;
  color: #8C8C8B;
  width: 100%;

  @media @screen-large {
    max-width: 2120*@multiplier-large;
    padding: 40*@multiplier-large 0;
    font-size: 12*@multiplier-large;
    line-height: 18*@multiplier-large;
    margin: 0 auto;
  }

  @media @screen-medium-up {
    padding: 40px 0;
    font-size: 12px;
    line-height: 18px;
  }

  @media @screen-medium-down {
    padding: 40/@multiplier-medium 0;
    font-size: 12/@multiplier-medium;
    line-height: 18/@multiplier-medium;
  }

  @media @screen-small {
    padding: 30/@multiplier-small 0 40/@multiplier-small;
    font-size: 12/@multiplier-small;
    line-height: 18/@multiplier-small;
  }

  &__copy {
    text-align: center;
    margin: 0 auto;

    @media @screen-large {
      width: 500*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 500px;
    }

    @media @screen-medium-down {
      width: 500/@multiplier-medium;
    }

    @media @screen-small {
      width: 324/@multiplier-small;
    }
  }

  &__logo {
    text-align: center;

    @media @screen-large {
      height: 36*@multiplier-large;
      margin-bottom: 26*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 36px;
      margin-bottom: 26px;
    }

    @media @screen-medium-down {
      height: 36/@multiplier-medium;
      margin-bottom: 26/@multiplier-medium;
    }

    @media @screen-small {
      height: 36/@multiplier-small;
      margin-bottom: 26/@multiplier-small;
    }

    img {
      height: 100%;
    }
  }
}