@import "global";

.header-1 {
  @root: ~'.header-1';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  flex: 0 0 auto;

  @media @screen-large {
    max-width: 2120*@multiplier-large;
    right: 0;
    margin: 0 auto;
  }

  &__container {
    background: rgba(0,0,0,.4);
    z-index: 999;

    &.sticky {
      @{root}__login-link {
        color: #777;

        &:hover {
          color: #000;
        }
      }
    }
  }

  &__container-top {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;

    @media @screen-large {
      height: 56*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 56px;
    }

    @media @screen-medium-down {
      height: 56/@multiplier-medium;
    }

    @media @screen-small {
      height: 56/@multiplier-small;
    }
  }

  &__container-top-left-block {
    display: flex;
    align-items: center;
  }

  &__burger-menu {
    display: block;
    position: relative;
    cursor: pointer;

    @media @screen-large {
      width: 19*@multiplier-large;
      height: 12*@multiplier-large;
      padding: 22*@multiplier-large 14*@multiplier-large 23*@multiplier-large 21*@multiplier-large;
      margin-right: 15*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 19px;
      height: 12px;
      padding: 22px 14px 23px 21px;
      margin-right: 15px;
    }

    @media @screen-medium-down {
      width: 19/@multiplier-medium;
      height: 12/@multiplier-medium;
      padding: 22/@multiplier-medium 14/@multiplier-medium 23/@multiplier-medium 21/@multiplier-medium;
      margin-right: 15/@multiplier-medium;
    }

    @media @screen-small {
      width: 19/@multiplier-small;
      height: 12/@multiplier-small;
      padding: 22/@multiplier-small 14/@multiplier-small 23/@multiplier-small 21/@multiplier-small;
      margin-right: 15/@multiplier-small;
    }
  }

  &__burger-btn-line {
    display: block;
    border-top: 1px solid #fff;
    transition: all .2s ease;

    @media @screen-large {
      margin-bottom: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 5px;
    }

    @media @screen-medium-down {
      margin-bottom: 5/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 5/@multiplier-small;
    }
  }

  &__logo {
    display: block;
    cursor: pointer;

    @media @screen-large {
      width: 260*@multiplier-large;
      padding-top: 6*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 260px;
      padding-top: 6px;
    }

    @media @screen-medium-down {
      width: 260/@multiplier-medium;
      padding-top: 6/@multiplier-medium;
    }

    @media @screen-small {
      height: 23/@multiplier-small;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  &__container-top-right-block {
    display: none;
    //display: flex;
    align-items: center;

    @media @screen-large {
      margin: 0 19*@multiplier-large;
    }

    @media @screen-medium-up {
      margin: 0 19px;
    }

    @media @screen-medium-down {
      margin: 0 19/@multiplier-medium;
    }

    @media @screen-small {
      margin: 0 20/@multiplier-small;
    }
  }

  &__language {
    display: flex;
    align-items: center;
  }

  &__language-item {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    text-decoration: none;

    @media @screen-large {
      font-size: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 20px;
    }

    @media @screen-medium-down {
      font-size: 20/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 20/@multiplier-small;
    }
  }

  &__language-item-line {
    display: block;
    border-right: 1px solid rgba(255, 255, 255, 0.5);

    @media @screen-large {
      height: 15*@multiplier-large;
      margin: 0 7*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 15px;
      margin: 0 7px;
    }

    @media @screen-medium-down {
      height: 15/@multiplier-medium;
      margin: 0 7/@multiplier-medium;
    }

    @media @screen-small {
      height: 15/@multiplier-small;
      margin: 0 7/@multiplier-small;
    }
  }

  &__container-bottom {
    @media @screen-large {
      display: flex;
      justify-content: space-between;
      height: 58*@multiplier-large;
    }

    @media @screen-medium-up {
      display: flex;
      justify-content: space-between;
      height: 58px;
    }

    @media @screen-medium-down {
      display: flex;
      justify-content: space-between;
      height: 58/@multiplier-medium;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    list-style-type: none;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    height: 100%;

    @media @screen-large {
      margin-left: 54*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-left: 54px;
    }

    @media @screen-medium-down {
      margin-left: 54/@multiplier-medium;
    }

    @media @screen-small {

    }

    @{root}__menu-item {
      height: 100%;

      @media @screen-large {
        margin:0 15*@multiplier-large;
      }

      @media @screen-medium-up {
        margin:0 15px;
      }

      @media @screen-medium-down {
        margin:0 15/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    height: 100%;
    transition: color .4s ease;

    @media @screen-large {
      font-size: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 20px;
    }

    @media @screen-medium-down {
      font-size: 20/@multiplier-medium;
    }

    @media @screen-small {
      width: 190px;
    }

    &.active {
      color: #fff;
    }
  }

  &__play-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #218b97;
    background: #16666f;

    @media @screen-large {
      width: 190*@multiplier-large;
      height: 56*@multiplier-large;
      font-size: 22*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 190px;
      height: 56px;
      font-size: 22px;
    }

    @media @screen-medium-down {
      width: 190/@multiplier-medium;
      height: 56/@multiplier-medium;
      font-size: 22/@multiplier-medium;
    }

    @media @screen-small {
      width: 190px;
    }

    &:hover {
      background: #22747d;
    }
  }

  &__left-panel {
    position: fixed;
    background: #fff;
    z-index: 100000000;
    height: 100%;
    transition: all .3s;
    top: 0;
    transform: translateX(-100%);
    visibility: hidden;

    @media @screen-large {
      min-width: 320*@multiplier-large;
    }

    @media @screen-medium-up {
      min-width: 320px;
    }

    @media @screen-medium-down {
      min-width: 320/@multiplier-medium;
    }

    @media @screen-small {
      width: 100%;
    }
  }

  &__left-panel-header {
    position: absolute;
    display: flex;
    align-items: center;
    background: #187d89;
    top: 0;
    left: 0;
    width: 100%;

    @media @screen-large {
      height: 56*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 56px;
    }

    @media @screen-medium-down {
      height: 56/@multiplier-medium;
    }

    @media @screen-small {
      height: 56/@multiplier-small;
    }

    a {
      display: block;
    }
  }

  &__left-panel-header-cross {
    cursor: pointer;

    @media @screen-large {
      height: 16*@multiplier-large;
      width: 16*@multiplier-large;
      margin-left: 21*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 16px;
      width: 16px;
      margin-left: 21px;
    }

    @media @screen-medium-down {
      height: 16/@multiplier-medium;
      width: 16/@multiplier-medium;
      margin-left: 21/@multiplier-medium;
    }

    @media @screen-small {
      height: 16/@multiplier-small;
      width: 16/@multiplier-small;
      margin-left: 21/@multiplier-small;
    }

    svg {
      display: block;
      fill: #fff;
      height: 100%;
    }
  }

  &__left-panel-header-logo {
    @media @screen-large {
      margin-left: 32*@multiplier-large;
      height: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-left: 32px;
      height: 30px;
    }

    @media @screen-medium-down {
      margin-left: 32/@multiplier-medium;
      height: 30/@multiplier-medium;
    }

    @media @screen-small {
      margin-left: 32/@multiplier-small;
      height: 30/@multiplier-small;
    }

    img {
      display: block;
      height: 100%;
    }
  }

  &__left-panel-header-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    @media @screen-large {
      top: 56*@multiplier-large;
      padding: 15*@multiplier-large 30*@multiplier-large;
    }

    @media @screen-medium-up {
      top: 56px;
      padding: 15px 30px;
    }

    @media @screen-medium-down {
      top: 56/@multiplier-medium;
      padding: 15/@multiplier-medium 30/@multiplier-medium;
    }

    @media @screen-small {
      top: 56/@multiplier-small;
      padding: 15/@multiplier-medium 30/@multiplier-small;
    }
  }

  &__left-panel-item {
    @media @screen-large {
      margin: 15*@multiplier-large 0;
    }

    @media @screen-medium-up {
      margin: 15px 0;
    }

    @media @screen-medium-down {
      margin: 15/@multiplier-medium 0;
    }

    @media @screen-small {
      margin: 15/@multiplier-small 0;
    }
  }

  &__left-panel-link {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #777;
    align-items: center;

    @media @screen-large {
      font-size: 20*@multiplier-large;
      line-height: 28*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 20px;
      line-height: 28px;
    }

    @media @screen-medium-down {
      font-size: 20/@multiplier-medium;
      line-height: 28/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 20/@multiplier-small;
      line-height: 28/@multiplier-small;
    }
  }

  &__left-panel-login-user-name {
    text-transform: none;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__left-panel-login-action-name {
    @media @screen-large {
      margin-right: 10*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-right: 10px;
    }

    @media @screen-medium-down {
      margin-right: 10/@multiplier-medium;
    }

    @media @screen-small {
      margin-right: 10/@multiplier-small;
    }
  }

  &__menu-list {
    @{root}__menu-item {
      &:hover {
        @{root}__sub-menu-list {
          display: block;
        }
      }
    }
  }

  &__container {
    &.sticky {
      @{root}__menu-item {
        &:hover {
          @{root}__sub-menu-list {
            display: none;
          }
        }
      }
    }
  }

  &__sub-menu-list {
    display: none;

    @media @screen-large {
      height: 35*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 35px;
    }

    @media @screen-medium-down {
      height: 35/@multiplier-medium;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__sub-menu-item {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media @screen-large {
      margin: 0 15*@multiplier-large 0 0;
    }

    @media @screen-medium-up {
      margin: 0 15px 0 0;
    }

    @media @screen-medium-down {
      margin: 0 15/@multiplier-medium 0 0;
    }

    @media @screen-small {

    }

    &:hover {
      @{root}__sub-menu-item-bord {
        display: block;
      }

      @{root}__sub-menu-link {
        color: #fff;
      }
    }
  }

  &__sub-menu-item-bord {
    display: none;
    background: #fff;
    z-index: 2;
    margin: auto;

    @media @screen-large {
      width: 45*@multiplier-large;
      height: 1*@multiplier-large;
      box-shadow: 0 0 16*@multiplier-large 2*@multiplier-large rgba(255, 255, 255, 0.7);
    }

    @media @screen-medium-up {
      width: 45px;
      height: 1px;
      box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.7);
    }

    @media @screen-medium-down {
      width: 45/@multiplier-medium;
      height: 1/@multiplier-medium;
      box-shadow: 0 0 16/@multiplier-medium 2/@multiplier-medium rgba(255, 255, 255, 0.7);
    }

    @media @screen-small {
      display: none;
    }
  }

  &__sub-menu-link {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 22*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 22px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 22/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__left-panel-sub-link {
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    color: #777;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 22*@multiplier-large;
      margin-left: 15*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 22px;
      margin-left: 15px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 22/@multiplier-medium;
      margin-left: 15/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 22/@multiplier-small;
      margin-left: 15/@multiplier-small;
    }
  }

  &__left-panel-sub-list {
    @media @screen-large {
      margin-top: 10*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-top: 10px;
    }

    @media @screen-medium-down {
      margin-top: 10/@multiplier-medium;
    }

    @media @screen-small {
      margin-top: 10/@multiplier-small;
    }
  }

  &__left-panel-sub-item {
    &:hover {
      @{root}__left-panel-sub-link {
        color: #000;
      }
    }
  }

  &__action-btn-container {
    display: flex;
    align-items: center;
  }

  &__login-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);

    @media @screen-large {
      font-size: 20*@multiplier-large;
      line-height: 24*@multiplier-large;
      margin-right: 23*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 20px;
      line-height: 24px;
      margin-right: 23px;
    }

    @media @screen-medium-down {
      font-size: 20/@multiplier-medium;
      line-height: 24/@multiplier-medium;
      margin-right: 23/@multiplier-medium;
    }

    &:hover {
      color: #fff;
    }
  }

  &__login-user-name {
    text-transform: none;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
    }
  }
}

.header-1__burger-menu:hover .header-1__burger-btn-line--top {
  @media @screen-large {
    transform: translate3d(5*@multiplier-large,1.5*@multiplier-large,0) rotate(45deg) scaleX(.7);
  }

  @media @screen-medium-up {
    transform: translate3d(5px,1.5px,0) rotate(45deg) scaleX(.7);
  }

  @media @screen-medium-down {
    transform: translate3d(5/@multiplier-medium,1.5/@multiplier-medium,0) rotate(45deg) scaleX(.7);
  }

  @media @screen-small {

  }

}

.header-1__burger-menu:hover .header-1__burger-btn-line--bottom {
  @media @screen-large {
    transform: translate3d(5*@multiplier-large,-1.5*@multiplier-large,0) rotate(-45deg) scaleX(.7);
  }

  @media @screen-medium-up {
    transform: translate3d(5px,-1.5px,0) rotate(-45deg) scaleX(.7);
  }

  @media @screen-medium-down {
    transform: translate3d(5/@multiplier-medium,-1.5/@multiplier-medium,0) rotate(-45deg) scaleX(.7);
  }

  @media @screen-small {

  }
}

.header-1__language-item.active {
  color: rgba(255, 255, 255, 1);
}

.header-1__menu-list:hover li .header-1__menu-link:hover {
  color: rgba(255, 255, 255, 1);
}

.header-1__container.sticky {
  position: fixed;
  width: 100%;
  background: none;

  @media @screen-large {
    top: -57*@multiplier-large;
    max-width: 2120*@multiplier-large;
    margin: 0 auto;
  }

  @media @screen-medium-up {
    top: -57px;
  }

  @media @screen-medium-down {
    top: -57/@multiplier-medium;
  }

  @media @screen-small {

  }
}

.header-1__container.sticky .header-1__container-bottom {
  background: hsla(0, 0%, 100%, 1);
}

.header-1__container.sticky .header-1__container-top {
  background: rgba(0, 0, 0, 0.5);
}

.header-1__container.sticky .header-1__menu-list a.header-1__menu-link {
  color: #777;
}

.header-1__container.sticky a.header-1__menu-link:hover{
  color: #000;
}

.header-1__container.sticky a.header-1__menu-link.active {
  color: #000;
}

.header-1__left-panel-link:hover {
  color: #000;
}

.header-1__left-panel-link.active {
  color: #000;
}

.header-1__left-panel.is-active {
  display: block;
  visibility: visible;
  transform: translateX(0);
}