@import "global";

.index {
  @media @screen-large {
    background-image: url("/imgs/header_bg.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 930*@multiplier-large;
  }

  @media @screen-medium-up {
    background-image: url("/imgs/header_bg.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 930px;
  }

  @media @screen-medium-down {
    background-image: url("/imgs/header_bg.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 930/@multiplier-medium;
  }

  @media @screen-small {
    background-image: url("/imgs/index_header_bg_m.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 1170/@multiplier-small;
  }
}

.index-1 {
  @root: ~'.index-1';
  &__wrap {
    box-sizing: border-box;

    @media @screen-large {
      max-width: 1280*@multiplier-large;
      padding: 0 40*@multiplier-large;
      margin: 0 auto;
    }

    @media @screen-medium-up {
      max-width: 1280px;
      padding: 0 40px;
      margin: 0 auto;
    }

    @media @screen-medium-down {
      padding: 0 40/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__server-status-top-section-mobile {
    text-transform: uppercase;
    color: #fff;

    @media @screen-large {
      display: none;
    }

    @media @screen-medium-up {
      display: none;
    }

    @media @screen-medium-down {
      display: none;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
    }
  }

  &__info {
    display: flex;
  }

  &__info-statistics {
    @media @screen-large {
      width: 50%;
    }

    @media @screen-medium-up {
      width: 50%;
    }

    @media @screen-medium-down {
      width: 50%;
    }

    @media @screen-small {
      width: 100%;
    }
  }

  &__swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;

    @media @screen-large {
      height: 644*@multiplier-large;
      width: 600px;
    }

    @media @screen-medium-up {
      height: 644px;
      width: 600px;
    }

    @media @screen-medium-down {
      height: 644/@multiplier-medium;
      width: 600/@multiplier-medium;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &__swiper-slide {
    text-align: center;
    position: relative;
    flex-shrink: 0;

    img {
      @media @screen-large {
        height: 644*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 644px;
      }

      @media @screen-medium-down {
        height: 644/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__swiper-pagination {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    margin: 0 auto;

    @media @screen-large {
      padding: 3*@multiplier-large 6*@multiplier-large;
      width: 35*@multiplier-large;
      bottom: 39*@multiplier-large;
      font-size: 16*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 3px 6px;
      width: 35px;
      bottom: 39px;
      font-size: 16px;
    }

    @media @screen-medium-down {
      padding: 3/@multiplier-medium 6/@multiplier-medium;
      width: 35/@multiplier-medium;
      bottom: 39/@multiplier-medium;
      font-size: 16/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__swiper-button-next {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    outline: none;

    @media @screen-large {
      bottom: 34*@multiplier-large;
      right: 34*@multiplier-large;
      width: 60*@multiplier-large;
      height: 60*@multiplier-large;
    }

    @media @screen-medium-up {
      bottom: 34px;
      right: 34px;
      width: 60px;
      height: 60px;
    }

    @media @screen-medium-down {
      bottom: 34/@multiplier-medium;
      right: 34/@multiplier-medium;
      width: 60/@multiplier-medium;
      height: 60/@multiplier-medium;
    }

    @media @screen-small {

    }

    svg {
      fill: rgba(255, 255, 255, 1);
      height: auto;

      @media @screen-large {
        width: 25*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 25px;
      }

      @media @screen-medium-down {
        width: 25/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__swiper-button-prev {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    outline: none;

    @media @screen-large {
      bottom: 34*@multiplier-large;
      left: 34*@multiplier-large;
      width: 60*@multiplier-large;
      height: 60*@multiplier-large;
    }

    @media @screen-medium-up {
      bottom: 34px;
      left: 34px;
      width: 60px;
      height: 60px;
    }

    @media @screen-medium-down {
      bottom: 34/@multiplier-medium;
      left: 34/@multiplier-medium;
      width: 60/@multiplier-medium;
      height: 60/@multiplier-medium;
    }

    @media @screen-small {

    }

    svg {
      fill: rgba(255, 255, 255, 1);
      transform: rotate(-180deg);
      height: auto;

      @media @screen-large {
        width: 25*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 25px;
      }

      @media @screen-medium-down {
        width: 25/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__swiper-slide-text {
    display: block;
    position: absolute;
    text-decoration: none;

    @media @screen-large {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 374*@multiplier-large;
      bottom: 92*@multiplier-large;
    }

    @media @screen-medium-up {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 374px;
      bottom: 92px;
    }

    @media @screen-medium-down {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 374/@multiplier-medium;
      bottom: 92/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__swiper-slide-title {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;

    @media @screen-large {
      font-size: 32*@multiplier-large;
      margin-bottom: 15*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 32px;
      margin-bottom: 15px;
    }

    @media @screen-medium-down {
      font-size: 32/@multiplier-medium;
      margin-bottom: 15/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__swiper-slide-description {
    display: block;
    color: #fff;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;

    @media @screen-large {
      font-size: 18*@multiplier-large;
      line-height: 24*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 18px;
      line-height: 24px;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
      line-height: 24/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__info-statistics-counters {
    display: flex;

    @media @screen-large {
      height: 312*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 312px;
    }

    @media @screen-medium-down {
      height: 312/@multiplier-medium;
    }

    @media @screen-small {
      flex-direction: column;
    }
  }

  &__rates-wrap {
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 170, 187, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media @screen-large {
      flex: 0 0 336*@multiplier-large;
    }

    @media @screen-medium-up {
      flex: 0 0 336px;
    }

    @media @screen-medium-down {
      flex: 0 0 336/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 20/@multiplier-small;
    }
  }

  &__rates-icons-container {
    display: flex;
    justify-content: center;

    @media @screen-small {
      margin-bottom: 28/@multiplier-small;
    }
  }

  &__rates-icon {
    @media @screen-large {
      width: 55*@multiplier-large;
      margin: 0 4.5*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 55px;
      margin: 0 4.5px;
    }

    @media @screen-medium-down {
      width: 55/@multiplier-medium;
      margin: 0 4.5/@multiplier-medium;
    }

    @media @screen-small {
      width: 40/@multiplier-small;
      margin: 0 4.5/@multiplier-small;
    }

    img {
      width: 100%;
    }
  }

  &__rates-top-section {
    position: relative;

    @media @screen-large {
      padding: 18*@multiplier-large 37*@multiplier-large 10*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 18px 37px 10px;
    }

    @media @screen-medium-down {
      padding: 18/@multiplier-medium 37/@multiplier-medium 10/@multiplier-medium;
    }

    @media @screen-small {
      padding: 18/@multiplier-small 40/@multiplier-small 27/@multiplier-small;
    }
  }

  &__rates-subtitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    position: absolute;

    @media @screen-large {
      font-size: 14*@multiplier-large;
      line-height: 18*@multiplier-large;
      top: 13*@multiplier-large;
      right: 56*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 14px;
      line-height: 18px;
      top: 13px;
      right: 56px;
    }

    @media @screen-medium-down {
      font-size: 14/@multiplier-medium;
      line-height: 18/@multiplier-medium;
      top: 13/@multiplier-medium;
      right: 56/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 14/@multiplier-small;
      line-height: 18/@multiplier-small;
      top: 13/@multiplier-small;
      right: 83/@multiplier-small;
    }
  }

  &__server-status-wrap {
    @media @screen-large {
      background: rgba(0, 0, 0, 0.5);
      flex: 0 0 265*@multiplier-large;
    }

    @media @screen-medium-up {
      background: rgba(0, 0, 0, 0.5);
      flex: 0 0 265px;
    }

    @media @screen-medium-down {
      background: rgba(0, 0, 0, 0.5);
      flex: 0 0 265/@multiplier-medium;
    }

    @media @screen-small {
      background: rgba(0, 0, 0, 0.1);
      width: 265/@multiplier-small;
      margin: 0 auto 20/@multiplier-small;
    }
  }

  &__rates-title {
    @media @screen-large {
      font-size: 24*@multiplier-large;
      margin-bottom: 28*@multiplier-large;
      padding-left: 21*@multiplier-large;
      letter-spacing: -0.7*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 24px;
      margin-bottom: 28px;
      padding-left: 21px;
      letter-spacing: -0.7px;
    }

    @media @screen-medium-down {
      font-size: 24/@multiplier-medium;
      margin-bottom: 28/@multiplier-medium;
      padding-left: 21/@multiplier-medium;
      letter-spacing: -0.7/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 24/@multiplier-small;
      margin-bottom: 28/@multiplier-small;
      padding-left: 21/@multiplier-small;
      letter-spacing: -0.7/@multiplier-small;
    }
  }

  &__rates-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media @screen-large {
      font-size: 18*@multiplier-large;
      line-height: 26*@multiplier-large;
      height: 95*@multiplier-large;
      margin-bottom: 22*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 18px;
      line-height: 26px;
      height: 95px;
      margin-bottom: 22px;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
      line-height: 26/@multiplier-medium;
      height: 95/@multiplier-medium;
      margin-bottom: 22/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 18/@multiplier-small;
      line-height: 26/@multiplier-small;
      height: 95/@multiplier-small;
      margin-bottom: 22/@multiplier-small;
    }
  }

  &__rates-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media @screen-large {
      font-size: 28*@multiplier-large;
      line-height: 32*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 28px;
      line-height: 32px;
    }

    @media @screen-medium-down {
      font-size: 28/@multiplier-medium;
      line-height: 32/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 28/@multiplier-small;
      line-height: 32/@multiplier-small;
    }
  }

  &__rates-text {
    @media @screen-large {
      margin-right: 15*@multiplier-large;
      padding-bottom: 5*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-right: 15px;
      padding-bottom: 5px;
    }

    @media @screen-medium-down {
      margin-right: 15/@multiplier-medium;
      padding-bottom: 5/@multiplier-medium;
    }

    @media @screen-small {
      margin-right: 15/@multiplier-small;
      padding-bottom: 5/@multiplier-small;
    }
  }

  &__rates-param {
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.45);

    @media @screen-large {
      padding: 3*@multiplier-large 6*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 3px 6px;
    }

    @media @screen-medium-down {
      padding: 3/@multiplier-medium 6/@multiplier-medium;
    }

    @media @screen-small {
      padding: 3/@multiplier-small 6/@multiplier-small;
    }
  }

  &__rates-server-time {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);

    @media @screen-large {
      height: 100*@multiplier-large;
      padding: 18*@multiplier-large 26*@multiplier-large 16*@multiplier-large 37*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 100px;
      padding: 18px 26px 16px 37px;
    }

    @media @screen-medium-down {
      height: 100/@multiplier-medium;
      padding: 18/@multiplier-medium 26/@multiplier-medium 16/@multiplier-medium 37/@multiplier-medium;
    }

    @media @screen-small {
      text-align: center;
      height: 100/@multiplier-small;
      padding: 18/@multiplier-small 26/@multiplier-small 16/@multiplier-small 37/@multiplier-small;
    }
  }

  &__rates-server-time-title {
    text-transform: uppercase;

    @media @screen-large {
      font-size: 20*@multiplier-large;
      margin-bottom: 16*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 20px;
      margin-bottom: 16px;
    }

    @media @screen-medium-down {
      font-size: 20/@multiplier-medium;
      margin-bottom: 16/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 20/@multiplier-small;
      margin-bottom: 16/@multiplier-small;
    }
  }

  &__rates-server-time-counter {
    text-transform: uppercase;
    color: #8C8C8B;

    @media @screen-large {
      font-size: 16*@multiplier-large;

    }

    @media @screen-medium-up {
      font-size: 16px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
    }

    span {
      color: #fff;
    }
  }

  &__server-status-top-section {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    @media @screen-large {
      height: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 30px;
    }

    @media @screen-medium-down {
      height: 30/@multiplier-medium;
    }

    @media @screen-small {
      height: 30/@multiplier-small;
    }
  }

  &__server-status-icon-section {
    display: flex;
    align-items: center;
    justify-content: center;

    @media @screen-large {
      height: 183*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 183px;
    }

    @media @screen-medium-down {
      height: 183/@multiplier-medium;
    }

    @media @screen-small {
      height: 183/@multiplier-small;
    }
  }

  &__server-status-icon {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    @media @screen-large {
      height: 123*@multiplier-large;
      width: 100*@multiplier-large;
      padding-top: 6*@multiplier-large;
      border-radius: 8*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 123px;
      width: 100px;
      padding-top: 6px;
      border-radius: 8px;
    }

    @media @screen-medium-down {
      height: 123/@multiplier-medium;
      width: 100/@multiplier-medium;
      padding-top: 6/@multiplier-medium;
      border-radius: 8/@multiplier-medium;
    }

    @media @screen-small {
      height: 123/@multiplier-small;
      width: 100/@multiplier-small;
      padding-top: 6/@multiplier-small;
      border-radius: 8/@multiplier-small;
    }

    svg {
      @media @screen-large {
        height: 74*@multiplier-large;
        margin-bottom: 8*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 74px;
        margin-bottom: 8px;
      }

      @media @screen-medium-down {
        height: 74/@multiplier-medium;
        margin-bottom: 8/@multiplier-medium;
      }

      @media @screen-small {
        height: 74/@multiplier-small;
        margin-bottom: 8/@multiplier-small;
      }
    }
  }

  &__server-status-icon-text {
    text-transform: uppercase;
    text-align: center;
  }

  &__server-status-counter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;

    @media @screen-large {
      padding: 18*@multiplier-large 35*@multiplier-large 21*@multiplier-large;
      font-size: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 18px 35px 21px;
      font-size: 20px;
    }

    @media @screen-medium-down {
      padding: 18/@multiplier-medium 35/@multiplier-medium 21/@multiplier-medium;
      font-size: 20/@multiplier-medium;
    }

    @media @screen-small {
      padding: 18/@multiplier-small 35/@multiplier-small 21/@multiplier-small;
      font-size: 20/@multiplier-small;
    }
  }

  &__server-status-in-game {
    text-align: center;
  }

  &__server-status-in-game-title {
    text-transform: uppercase;
    color: #8C8C8B;

    @media @screen-large {
      margin-bottom: 12*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 12px;
    }

    @media @screen-medium-down {
      margin-bottom: 12/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 8/@multiplier-small;
    }
  }

  &__server-status-in-game-count {
    font-weight: bold;

    @media @screen-large {
      font-size: 24*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 24px;
    }

    @media @screen-medium-down {
      font-size: 24/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 24/@multiplier-small;
    }
  }

  &__info-statistics-slider {
    position: relative;
    background: rgba(75, 81, 92, 0.3);

    @media @screen-large {
      height: 227*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 227px;
    }

    @media @screen-medium-down {
      height: 227/@multiplier-medium;
    }

    @media @screen-small {
      height: 320/@multiplier-small;
    }
  }

  &__boss-statistics-swiper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;

    @media @screen-large {
      height: 227*@multiplier-large;
      width: 495*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 227px;
      width: 495px;
    }

    @media @screen-medium-down {
      height: 227/@multiplier-medium;
      width: 495/@multiplier-medium;
    }

    @media @screen-small {
      height: 320/@multiplier-small;
    }
  }

  &__boss-swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &__boss-statistics-slide {
    flex-shrink: 0;
    text-align: center;

    @media @screen-large {
      padding: 24*@multiplier-large 0 46*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 24px 0 46px;
    }

    @media @screen-medium-down {
      padding: 24/@multiplier-medium 0 46/@multiplier-medium;
    }

    @media @screen-small {
      padding: 15/@multiplier-small 0 30/@multiplier-small;
    }

    img {
      border-radius: 50%;
      border: 2px solid #fff;

      @media @screen-large {
        height: 110*@multiplier-large;
        margin-bottom: 13*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 110px;
        margin-bottom: 13px;
      }

      @media @screen-medium-down {
        height: 110/@multiplier-medium;
        margin-bottom: 13/@multiplier-medium;
      }

      @media @screen-small {
        height: 235/@multiplier-small;
        margin-bottom: 3/@multiplier-small;
      }
    }
  }

  &__boss-statistics-slide-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__boss-statistics-slide-info-rb-name {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #8C8C8B;
    background: rgba(196, 196, 196, 0.2);

    @media @screen-large {
      font-size: 18*@multiplier-large;
      height: 30*@multiplier-large;
      padding: 0 6*@multiplier-large 0 7*@multiplier-large;
      border-radius: 3*@multiplier-large 0 0 3*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 18px;
      height: 30px;
      padding: 0 6px 0 7px;
      border-radius: 3px 0 0 3px;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
      height: 30/@multiplier-medium;
      padding: 0 6/@multiplier-medium 0 7/@multiplier-medium;
      border-radius: 3px 0 0 3px;
    }

    @media @screen-small {
      font-size: 18/@multiplier-small;
      height: 30/@multiplier-small;
      padding: 0 6/@multiplier-small 0 7/@multiplier-small;
      border-radius: 3/@multiplier-small 0 0 3/@multiplier-small;
    }
  }

  &__boss-statistics-slide-info-rb-count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    background: rgba(51, 51, 51, 0.7);

    @media @screen-large {
      font-size: 18*@multiplier-large;
      width: 30*@multiplier-large;
      height: 30*@multiplier-large;
      border-radius: 0 3*@multiplier-large 3*@multiplier-large 0;
    }

    @media @screen-medium-up {
      font-size: 18px;
      width: 30px;
      height: 30px;
      border-radius: 0 3px 3px 0;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
      width: 30/@multiplier-medium;
      height: 30/@multiplier-medium;
      border-radius: 0 3/@multiplier-medium 3/@multiplier-medium 0;
    }

    @media @screen-small {
      font-size: 18/@multiplier-small;
      width: 30/@multiplier-small;
      height: 30/@multiplier-small;
      border-radius: 0 3/@multiplier-small 3/@multiplier-small 0;
    }
  }

  &__boss-statistics-slider-btn-next {
    position: absolute;
    outline: none;
    cursor: pointer;

    @media @screen-large {
      height: 23*@multiplier-large;
      top: 103*@multiplier-large;
      right: 19*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 23px;
      top: 103px;
      right: 19px;
    }

    @media @screen-medium-down {
      height: 23/@multiplier-medium;
      top: 103/@multiplier-medium;
      right: 19/@multiplier-medium;
    }

    @media @screen-small {
      z-index: 1;
      height: 23/@multiplier-small;
      top: 148/@multiplier-small;
      right: 14/@multiplier-small;
    }

    svg {
      fill: rgba(255, 255, 255, 0.5);
      transform: rotate(-180deg);

      @media @screen-large {
        height: 23*@multiplier-large;
        width: 23*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 23px;
        width: 23px;
      }

      @media @screen-medium-down {
        height: 23/@multiplier-medium;
        width: 23/@multiplier-medium;
      }

      @media @screen-small {
        height: 23/@multiplier-small;
        width: 23/@multiplier-small;
      }
    }

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }

  &__boss-statistics-slider-btn-prev {
    position: absolute;
    outline: none;
    cursor: pointer;

    @media @screen-large {
      height: 23*@multiplier-large;
      top: 103*@multiplier-large;
      left: 19*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 23px;
      top: 103px;
      left: 19px;
    }

    @media @screen-medium-down {
      height: 23/@multiplier-medium;
      top: 103/@multiplier-medium;
      left: 19/@multiplier-medium;
    }

    @media @screen-small {
      z-index: 1;
      height: 23/@multiplier-small;
      top: 148/@multiplier-small;
      left: 14/@multiplier-small;
    }

    svg {
      fill: rgba(255, 255, 255, 0.5);

      @media @screen-large {
        height: 23*@multiplier-large;
        width: 23*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 23px;
        width: 23px;
      }

      @media @screen-medium-down {
        height: 23/@multiplier-medium;
        width: 23/@multiplier-medium;
      }

      @media @screen-small {
        height: 23/@multiplier-small;
        width: 23/@multiplier-small;
      }
    }

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }

  &__boss-statistics-slider-pagination {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;

    @media @screen-large {
      bottom: 17*@multiplier-large;
    }

    @media @screen-medium-up {
      bottom: 17px;
    }

    @media @screen-medium-down {
      bottom: 17/@multiplier-medium;
    }

    @media @screen-small {
      bottom: 9/@multiplier-small;
    }
  }

  &__info-stocials {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media @screen-large {
      background: rgba(0, 0, 0, 0.8);
      height: 105*@multiplier-large;
      padding: 0 116*@multiplier-large;
    }

    @media @screen-medium-up {
      background: rgba(0, 0, 0, 0.8);
      height: 105px;
      padding: 0 116px;
    }

    @media @screen-medium-down {
      background: rgba(0, 0, 0, 0.8);
      height: 105/@multiplier-medium;
      padding: 0 116/@multiplier-medium;
    }

    @media @screen-small {
      height: 105/@multiplier-small;
      padding: 0 20/@multiplier-small;
    }
  }

  &__info-stocial-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;

    @media @screen-large {
      height: 54*@multiplier-large;
      width: 54*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 54px;
      width: 54px;
    }

    @media @screen-medium-down {
      height: 54/@multiplier-medium;
      width: 54/@multiplier-medium;
    }

    @media @screen-small {
      height: 46/@multiplier-small;
      width: 46/@multiplier-small;
    }
  }

  &__info-stocial-vk {
    background: #4A74A5;

    svg {
      fill: #fff;

      @media @screen-large {
        height: 25*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 25px;
      }

      @media @screen-medium-down {
        height: 25/@multiplier-medium;
      }

      @media @screen-small {
        height: 20/@multiplier-small;
      }
    }
  }

  &__info-stocial-facebook {
    background: #3b5998;

    svg {
      fill: #fff;

      @media @screen-large {
        height: 20*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 20px;
      }

      @media @screen-medium-down {
        height: 20/@multiplier-medium;
      }

      @media @screen-small {
        height: 20/@multiplier-small;
      }
    }
  }

  &__info-stocial-twich {
    background: #6441a5;

    svg {
      fill: #fff;

      @media @screen-large {
        height: 20*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 20px;
      }

      @media @screen-medium-down {
        height: 20/@multiplier-medium;
      }

      @media @screen-small {
        height: 20/@multiplier-small;
      }
    }
  }

  &__info-stocial-youtube {
    background: #FF0000;

    svg {
      @media @screen-large {
        height: 25*@multiplier-large;
      }

      @media @screen-medium-up {
        height: 25px;
      }

      @media @screen-medium-down {
        height: 25/@multiplier-medium;
      }

      @media @screen-small {
        height: 20/@multiplier-small;
      }
    }
  }

  &__info-stocial-item-hover {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transition: all 0.2s ease;


    @media @screen-large {
      top: -2*@multiplier-large;
      left: -2*@multiplier-large;
      width: 50*@multiplier-large;
      height: 50*@multiplier-large;
    }

    @media @screen-medium-up {
      top: -2px;
      left: -2px;
      width: 50px;
      height: 50px;
    }

    @media @screen-medium-down {
      top: -2/@multiplier-medium;
      left: -2/@multiplier-medium;
      width: 50/@multiplier-medium;
      height: 50/@multiplier-medium;
    }

    @media @screen-small {
      display: none;
    }
  }

  &__news {
    display: flex;
    flex-wrap: wrap;

    @media @screen-large {
      padding: 61*@multiplier-large 0 40*@multiplier-large;
      margin: 0 -18*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 60px 0 40px;
      margin: 0 -18px;
    }

    @media @screen-medium-down {
      padding: 61/@multiplier-medium 0 40/@multiplier-medium;
      margin: 0 -18/@multiplier-medium;
    }

    @media @screen-small {
      padding: 0 20/@multiplier-small 40/@multiplier-small;
    }
  }

  &__news-item-wrap {
    box-sizing: border-box;
    position: relative;

    @media @screen-large {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 18*@multiplier-large;
    }

    @media @screen-medium-up {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 18px;
    }

    @media @screen-medium-down {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 18/@multiplier-medium;
    }

    @media @screen-small {
      width: 100%;
      margin: 5/@multiplier-small 0;
    }
  }

  &__news-item {
    background: #fff;
    color: #555;
    text-decoration: none;
    transition: 0.3s opacity;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      @media @screen-large {
        box-shadow: 0 4*@multiplier-large 11*@multiplier-large 0 rgba(0, 0, 0, 0.3);
      }

      @media @screen-medium-up {
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.3);
      }

      @media @screen-medium-down {
        box-shadow: 0 4/@multiplier-medium 11/@multiplier-medium 0 rgba(0, 0, 0, 0.3);
      }

      @media @screen-small {

      }
    }
  }

  &__news-item-title {
    display: block;
    font-weight: bold;

    @media @screen-large {
      font-size: 24*@multiplier-large;
      line-height: 28*@multiplier-large;
      padding: 22*@multiplier-large 29*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 24px;
      line-height: 28px;
      padding: 22px 29px;
    }

    @media @screen-medium-down {
      font-size: 24/@multiplier-medium;
      line-height: 28/@multiplier-medium;
      padding: 22/@multiplier-medium 29/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 24/@multiplier-small;
      line-height: 28/@multiplier-small;
      padding: 22/@multiplier-small 20/@multiplier-small;
    }
  }

  &__news-item-image {
    display: block;

    @media @screen-large {
      height: 196*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 196px;
    }

    @media @screen-medium-down {
      height: 196/@multiplier-medium;
    }

    @media @screen-small {
      height: 172/@multiplier-small;
    }

    img {
      width: 100%;
    }
  }

  &__news-item-content {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 24*@multiplier-large;
      padding: 23*@multiplier-large 29*@multiplier-large 50*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 24px;
      padding: 23px 29px 50px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 24/@multiplier-medium;
      padding: 23/@multiplier-medium 29/@multiplier-medium 50/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 24/@multiplier-small;
      padding: 23/@multiplier-small 20/@multiplier-small 50/@multiplier-small;
    }
  }

  &__news-item-description {
    display: block;

    @media @screen-large {
      margin-bottom: 23*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 23px;
    }

    @media @screen-medium-down {
      margin-bottom: 23/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 23/@multiplier-small;
    }
  }

  &__news-item-date-block {
    display: flex;
    justify-content: space-between;
  }

  &__news-item-date-block-wrap {
    position: absolute;

    @media @screen-large {
      bottom: 40*@multiplier-large;
      width: 310*@multiplier-large;
    }

    @media @screen-medium-up {
      bottom: 40px;
      width: 310px;
    }

    @media @screen-medium-down {
      bottom: 40/@multiplier-medium;
      width: 310/@multiplier-medium;
    }

    @media @screen-small {
      bottom: 40/@multiplier-small;
      width: 310/@multiplier-small;
    }
  }

  &__news-item-arrow {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.3s opacity;

    svg {
      @media @screen-large {
        width: 24*@multiplier-large;
        height: 17*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 24px;
        height: 17px;
      }

      @media @screen-medium-down {
        width: 24/@multiplier-medium;
        height: 17/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__top-news {
    display: flex;
    justify-content: flex-start ;

    @media @screen-large {
      padding: 60*@multiplier-large 0 0;
    }

    @media @screen-medium-up {
      padding: 60px 0 0;
    }

    @media @screen-medium-down {
      padding: 60/@multiplier-medium 0 0;
    }

    @media @screen-small {
      flex-direction: column;
      padding: 0 20/@multiplier-small 30/@multiplier-small;
    }
  }

  &__top-news-item-wrap {
    background: #fff;
    border-color: #e7e8e9;
    border-style: solid;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    position: relative;

    @media @screen-large {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 15*@multiplier-large 15*@multiplier-large 50*@multiplier-large;
    }

    @media @screen-medium-up {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 15px 15px 50px;
    }

    @media @screen-medium-down {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 15/@multiplier-medium 15/@multiplier-medium 50/@multiplier-medium;
    }

    @media @screen-small {
      width: 100%;
      margin: 5/@multiplier-small 0;
      padding: 0 0 50/@multiplier-small;
    }
  }

  &__top-news-item {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
  }

  &__top-news-title {
    text-align: center;
    font-weight: bold;

    @media @screen-large {
      font-size: 24*@multiplier-large;
      line-height: 28*@multiplier-large;
      padding: 22*@multiplier-large 0;
    }

    @media @screen-medium-up {
      font-size: 24px;
      line-height: 28px;
      padding: 22px 0;
    }

    @media @screen-medium-down {
      font-size: 24/@multiplier-medium;
      line-height: 28/@multiplier-medium;
      padding: 22/@multiplier-medium 0;
    }

    @media @screen-small {
      font-size: 24/@multiplier-small;
      line-height: 28/@multiplier-small;
      padding: 22/@multiplier-small 0;
    }
  }

  &__top-news-item-date-block-wrap {
    position: absolute;
    margin: auto;

    @media @screen-large {
      bottom: 25*@multiplier-large;
      width: 253*@multiplier-large;
      left: 110*@multiplier-large;
      right: 0;
      font-size: 18*@multiplier-large;
      line-height: 20*@multiplier-large;
    }

    @media @screen-medium-up {
      bottom: 25px;
      width: 253px;
      left: 110px;
      right: 0;
      font-size: 18px;
      line-height: 20px;
    }

    @media @screen-medium-down {
      bottom: 25/@multiplier-medium;
      width: 253/@multiplier-medium;
      left: 110/@multiplier-medium;
      right: 0;
      font-size: 18/@multiplier-medium;
      line-height: 20/@multiplier-medium;
    }

    @media @screen-small {
      bottom: 25/@multiplier-small;
      width: 210/@multiplier-small;
      left: 67/@multiplier-small;
      right: 0;
      font-size: 18/@multiplier-small;
      line-height: 20/@multiplier-small;
    }
  }

  &__top-news-item-date-block {
    display: flex;
    justify-content: space-between;
  }

  &__top-news-img {
    @media @screen-large {
      height: 196*@multiplier-large;
    }

    @media @screen-medium-up {
      height: 196px;
    }

    @media @screen-medium-down {
      height: 196/@multiplier-medium;
    }

    @media @screen-small {
      height: 172/@multiplier-small;
    }

    img {
      height: 100%;
    }
  }

  &__top-news-item-date {
    background: #16666f;
    color: #fff;

    @media @screen-large {
      padding: 5*@multiplier-large 10*@multiplier-large;
    }

    @media @screen-medium-up {
      padding: 5px 10px;
    }

    @media @screen-medium-down {
      padding: 5/@multiplier-medium 10/@multiplier-medium;
    }

    @media @screen-small {
      padding: 5/@multiplier-small 10/@multiplier-small;
    }
  }

  &__top-news-item-arrow {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.3s opacity;

    svg {
      @media @screen-large {
        width: 24*@multiplier-large;
        height: 17*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 24px;
        height: 17px;
      }

      @media @screen-medium-down {
        width: 24/@multiplier-medium;
        height: 17/@multiplier-medium;
      }

      @media @screen-small {

      }
    }
  }

  &__rates-info {
    display: flex;
    align-items: center;
    height: 100%;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 24*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 24px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 24/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 24/@multiplier-small;
    }
  }
}

.swiper-pagination-current {
  color: #fff;
}

.online svg {
  fill: #157F0F;
  stroke: #157F0F;
}

.offline svg {
  fill: #ff0000;
  stroke: #ff0000;
}

.online .index-1__server-status-icon {
  border: 1px solid #157F0F;
}

.offline .index-1__server-status-icon {
  border: 1px solid #ff0000;
}

.online .index-1__server-status-icon-text {
  color: #157F0F;

  @media @screen-large {
    font-size: 22*@multiplier-large;
  }

  @media @screen-medium-up {
    font-size: 22px;
  }

  @media @screen-medium-down {
    font-size: 22/@multiplier-medium;
  }

  @media @screen-small {
    font-size: 22/@multiplier-small;
  }
}

.offline .index-1__server-status-icon-text {
  color: #ff0000;

  @media @screen-large {
    font-size: 22*@multiplier-large;
  }

  @media @screen-medium-up {
    font-size: 22px;
  }

  @media @screen-medium-down {
    font-size: 22/@multiplier-medium;
  }

  @media @screen-small {
    font-size: 22/@multiplier-small;
  }
}

.index-1__boss-statistics-slider-pagination .swiper-pagination-bullet {
  display: inline-block;
  border-radius: 100%;
  background: #555050;
  cursor: pointer;

  @media @screen-large {
    width: 5*@multiplier-large;
    height: 5*@multiplier-large;
    margin: 0 3*@multiplier-large;
  }

  @media @screen-medium-up {
    width: 5px;
    height: 5px;
    margin: 0 3px;
  }

  @media @screen-medium-down {
    width: 5/@multiplier-medium;
    height: 5/@multiplier-medium;
    margin: 0 3/@multiplier-medium;
  }

  @media @screen-small {
    outline: none;
    width: 5/@multiplier-small;
    height: 5/@multiplier-small;
    margin: 0 5/@multiplier-small;
  }
}

.index-1__boss-statistics-slider-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.index-1__info-stocial-item:hover .index-1__info-stocial-item-hover {
  background: rgba(255, 255, 255, 0);
}

.index-1__news-item:hover .index-1__news-item-arrow {
  opacity: 1;
}

.index-1__top-news-item:hover .index-1__top-news-item-arrow {
  opacity: 1;
}

.index-1__boss-statistics-slide:hover img {
  @media @screen-large {
    box-shadow: 0 0 16*@multiplier-large rgba(256, 256, 256, 0.78);
  }

  @media @screen-medium-up {
    box-shadow: 0 0 16*@multiplier-large rgba(256, 256, 256, 0.78);
  }

  @media @screen-medium-down {
    box-shadow: 0 0 16*@multiplier-large rgba(256, 256, 256, 0.78);
  }
}

.pager-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media @screen-large {
    height: 40*@multiplier-large;
    margin-bottom: 58*@multiplier-large;
  }

  @media @screen-medium-up {
    height: 40px;
    margin-bottom: 58px;
  }

  @media @screen-medium-down {
    height: 40/@multiplier-medium;
    margin-bottom: 58/@multiplier-medium;
  }

  @media @screen-small {
    height: 25/@multiplier-small;
    margin-bottom: 40/@multiplier-small;
  }

  li {
    height: 100%;

    @media @screen-large {
      margin:0 6*@multiplier-large;
    }

    @media @screen-medium-up {
      margin:0 6px;
    }

    @media @screen-medium-down {
      margin:0 6/@multiplier-medium;
    }

    @media @screen-small {
      margin:0 6/@multiplier-small;
    }

    span, a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;

      @media @screen-large {
        width: 40*@multiplier-large;
        font-size: 16*@multiplier-large;
      }

      @media @screen-medium-up {
        width: 40px;
        font-size: 16px;
      }

      @media @screen-medium-down {
        width: 40/@multiplier-medium;
        font-size: 16/@multiplier-medium;
      }

      @media @screen-small {
        width: 25/@multiplier-small;
        font-size: 16/@multiplier-small;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.pager-wrapper .active a {
  background: rgba(0, 0, 0, 0.8);
}