@import "global";

.page-auth {
  @root: ~'.page-auth';

  &__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
  }

  &__wrap {
    box-sizing: border-box;
    margin: auto;

    @media @screen-large {
      width: 540*@multiplier-large;
      padding: 0 80*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 540px;
      padding: 0 80px;
    }

    @media @screen-medium-down {
      width: 540/@multiplier-medium;
      padding: 0 80/@multiplier-medium;
    }

    @media @screen-small {
      width: 100%;
      padding: 0 20/@multiplier-small;
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #555;

    @media @screen-large {
      font-size: 28*@multiplier-large;
      line-height: 32*@multiplier-large;
      letter-spacing: -1*@multiplier-large;
      margin-bottom: 55*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -1px;
      margin-bottom: 55px;
    }

    @media @screen-medium-down {
      font-size: 28/@multiplier-medium;
      line-height: 32/@multiplier-medium;
      letter-spacing: -1/@multiplier-medium;
      margin-bottom: 55/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 28/@multiplier-small;
      line-height: 32/@multiplier-small;
      letter-spacing: -1/@multiplier-small;
      margin-bottom: 40/@multiplier-small;
    }
  }

  &__form-group {
    position: relative;
    border: none;

    @media @screen-large {
      margin-bottom: 40*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 40px;
    }

    @media @screen-medium-down {
      margin-bottom: 40/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 30/@multiplier-small;
    }

    .help-block-error {
      position: absolute;
      color: #e68787;

      @media @screen-large {
        font-size: 14*@multiplier-large;
        line-height: 18*@multiplier-large;
        margin-top: 5*@multiplier-large;
        bottom: -22*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 14px;
        line-height: 18px;
        margin-top: 5px;
        bottom: -22px;
      }

      @media @screen-medium-down {
        font-size: 14/@multiplier-medium;
        line-height: 18/@multiplier-medium;
        margin-top: 5/@multiplier-medium;
        bottom: -22/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 12/@multiplier-small;
        line-height: 16/@multiplier-small;
        margin-top: 5/@multiplier-small;
        bottom: -22/@multiplier-small;
      }
    }

    .form-control {
      @media @screen-large {
        font-size: 16*@multiplier-large;
        line-height: 30*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 16px;
        line-height: 30px;
      }

      @media @screen-medium-down {
        font-size: 16/@multiplier-medium;
        line-height: 30/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 16/@multiplier-small;
        line-height: 30/@multiplier-small;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  .checkbox {
    label {
      position: relative;
      cursor: pointer;

      @media @screen-large {
        font-size: 16*@multiplier-large;
        line-height: 30*@multiplier-large;
        padding-left: 20*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 16px;
        line-height: 30px;
        padding-left: 20px;
      }

      @media @screen-medium-down {
        font-size: 16/@multiplier-medium;
        line-height: 30/@multiplier-medium;
        padding-left: 20/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 16/@multiplier-small;
        line-height: 30/@multiplier-small;
        padding-left: 20/@multiplier-small;
      }

      &:before {
        position: absolute;
        content: '';
        border: 1px solid #555;
        left: 0;

        @media @screen-large {
          width: 14*@multiplier-large;
          height: 14*@multiplier-large;
          top: 1*@multiplier-large;
        }

        @media @screen-medium-up {
          width: 14px;
          height: 14px;
          top: 1px;
        }

        @media @screen-medium-down {
          width: 14/@multiplier-medium;
          height: 14/@multiplier-medium;
          top: 1/@multiplier-medium;
        }

        @media @screen-small {
          width: 14/@multiplier-small;
          height: 14/@multiplier-small;
          top: 1/@multiplier-small;
        }
      }

      &:after {
        position: absolute;
        content: '';
        border: 1px solid #218B97;
        background: #218B97;
        opacity: 0;
        transition-duration: 0.2s;

        @media @screen-large {
          width: 8*@multiplier-large;
          height: 8*@multiplier-large;
          top: 4*@multiplier-large;
          left: 3*@multiplier-large;
        }

        @media @screen-medium-up {
          width: 8px;
          height: 8px;
          top: 4px;
          left: 3px;
        }

        @media @screen-medium-down {
          width: 8/@multiplier-medium;
          height: 8/@multiplier-medium;
          top: 4/@multiplier-medium;
          left: 3/@multiplier-medium;
        }

        @media @screen-small {
          width: 8/@multiplier-small;
          height: 8/@multiplier-small;
          top: 4/@multiplier-small;
          left: 3/@multiplier-small;
        }
      }
    }
  }


  &__info {
    color: #555;
  }

  &__btn {
    text-align: center;
    outline: none;

    button {
      font-family: 'Roboto', sans-serif;
      display: inline-block;
      cursor: pointer;
      background: #16666f;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #218b97;

      @media @screen-large {
        font-size: 16*@multiplier-large;
        line-height: 43*@multiplier-large;
        padding: 0 40*@multiplier-large;
      }

      @media @screen-medium-up {
        font-size: 16px;
        line-height: 43px;
        padding: 0 40px;
      }

      @media @screen-medium-down {
        font-size: 16/@multiplier-medium;
        line-height: 43/@multiplier-medium;
        padding: 0 40/@multiplier-medium;
      }

      @media @screen-small {
        font-size: 16/@multiplier-small;
        line-height: 43/@multiplier-small;
        padding: 0 40/@multiplier-small;
      }

      &:hover {
        background: #22747d;
      }
    }
  }

  &__activation-page-wrap {
    box-sizing: border-box;
    margin: auto;

    @media @screen-large {
      width: 675*@multiplier-large;
      padding: 0 80*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 675px;
      padding: 0 80px;
    }

    @media @screen-medium-down {
      width: 675/@multiplier-medium;
      padding: 0 80/@multiplier-medium;
    }

    @media @screen-small {
      width: 100%;
      padding: 0 20/@multiplier-small;
    }
  }

  &__activation-page-logo {
    @media @screen-large {
      width: 150*@multiplier-large;
      margin: 0 auto 40*@multiplier-large;
    }

    @media @screen-medium-up {
      width: 150px;
      margin: 0 auto 40px;
    }

    @media @screen-medium-down {
      width: 150/@multiplier-medium;
      margin: 0 auto 40/@multiplier-medium;
    }

    @media @screen-small {
      width: 150/@multiplier-small;
      margin: 0 auto 40/@multiplier-small;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__activation-page-content {
    font-family: 'Roboto Condensed', sans-serif;
    color: #555;
    text-align: center;

    @media @screen-large {
      font-size: 18*@multiplier-large;
      line-height: 24*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 18px;
      line-height: 24px;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
      line-height: 24/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 18/@multiplier-small;
      line-height: 24/@multiplier-small;
    }
  }

  &__activation-page-title {
    @media @screen-large {
      margin-bottom: 10*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 10px;
    }

    @media @screen-medium-down {
      margin-bottom: 10/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 10/@multiplier-small;
    }
  }

  &__activation-page-description {
    @media @screen-large {
      margin-bottom: 50*@multiplier-large;
    }

    @media @screen-medium-up {
      margin-bottom: 50px;
    }

    @media @screen-medium-down {
      margin-bottom: 50/@multiplier-medium;
    }

    @media @screen-small {
      margin-bottom: 50/@multiplier-small;
    }

    a {
      text-decoration: none;
      color: #16666f;
      border-bottom: 1px solid #16666f;
      cursor: pointer;
    }

    a:hover {
      border-bottom: none;
    }
  }

  &__activation-page-back-btn-wrap {
    text-align: center;
  }

  &__activation-page-back-btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    cursor: pointer;
    background: #16666f;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #218b97;

    @media @screen-large {
      font-size: 18*@multiplier-large;
      line-height: 42*@multiplier-large;
      padding: 0 20*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 18px;
      line-height: 42px;
      padding: 0 20px;
    }

    @media @screen-medium-down {
      font-size: 18/@multiplier-medium;
      line-height: 42/@multiplier-medium;
      padding: 0 20/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 18/@multiplier-small;
      line-height: 42/@multiplier-small;
      padding: 0 20/@multiplier-small;
    }
  }

  &__error {
    position: absolute;
    color: rgba(214, 45, 45, 0.7);

    @media @screen-large {
      font-size: 12*@multiplier-large;
      line-height: 16*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 12px;
      line-height: 16px;
    }

    @media @screen-medium-down {
      font-size: 12/@multiplier-medium;
      line-height: 16/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 12/@multiplier-small;
      line-height: 16/@multiplier-small;
    }
  }

  .form-control {
    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 30*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 30px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 30/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 12/@multiplier-small;
      line-height: 30/@multiplier-small;
    }
  }

  &__form-wrap-step-1 {
    @media @screen-large {
      margin: 0 auto;
      max-width: 390*@multiplier-large;
    }

    @media @screen-medium-up {
      margin: 0 auto;
      max-width: 390px;
    }

    @media @screen-medium-down {
      margin: 0 auto;
      max-width: 390/@multiplier-medium;
    }

    @media @screen-small {

    }
  }

  &__activation-page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #555;
    text-align: center;
    letter-spacing: 0;

    @media @screen-large {
      font-size: 24*@multiplier-large;
      line-height: 28*@multiplier-large;
      margin: 0 auto 30*@multiplier-large;
      max-width: 390*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 24px;
      line-height: 28px;
      margin: 0 auto 30px;
      max-width: 390px;
    }

    @media @screen-medium-down {
      font-size: 24/@multiplier-medium;
      line-height: 28/@multiplier-medium;
      margin: 0 auto 30*@multiplier-large;
      max-width: 390/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 24/@multiplier-small;
      line-height: 28/@multiplier-small;
      margin-bottom: 30/@multiplier-small;
    }
  }

  &__change-pass--btn {
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    cursor: pointer;
    background: #16666f;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #218b97;

    @media @screen-large {
      font-size: 16*@multiplier-large;
      line-height: 43*@multiplier-large;
      padding: 0 40*@multiplier-large;
    }

    @media @screen-medium-up {
      font-size: 16px;
      line-height: 43px;
      padding: 0 40px;
    }

    @media @screen-medium-down {
      font-size: 16/@multiplier-medium;
      line-height: 43/@multiplier-medium;
      padding: 0 40/@multiplier-medium;
    }

    @media @screen-small {
      font-size: 16/@multiplier-small;
      line-height: 43/@multiplier-small;
      padding: 0 40/@multiplier-small;
    }
  }
}

.checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}