@import "global";

@import "global";
@import "content";
@import "index";
@import "news";
@import "header";
@import "footer";
@import "about";
@import "files";
@import "registration-form";
@import "login-form";
@import "error";
@import "amnesia-form";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ol {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1, h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.index-page {
  background: #f4f5f7;
}

.is-overflow {
  overflow: hidden;
}

.bg-narrow {
  @media @screen-large {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 298*@multiplier-large;
  }

  @media @screen-medium-up {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 298px;
  }

  @media @screen-medium-down {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 298/@multiplier-medium;
  }

  @media @screen-small {
    background-image: url("/imgs/header_bg_narrow.jpg");
    background-position: center 0,0 0;
    background-repeat: no-repeat,repeat-x;
    background-size: auto 200/@multiplier-small;
  }
}

.hidden {
  display: none;
}

fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
}