@import "global";

.news-1 {
	@root: ~'.news-1';
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	color: #555;

	@media @screen-large {
		font-size: 18*@multiplier-large;
		line-height: 24*@multiplier-large;
	}

	@media @screen-medium-up {
		font-size: 18px;
		line-height: 24px;
	}

	@media @screen-medium-down {
		font-size: 18/@multiplier-medium;
		line-height: 24/@multiplier-medium;
	}

	@media @screen-small {
		font-size: 18/@multiplier-small;
		line-height: 24/@multiplier-small;
		padding-top: 11/@multiplier-small;
	}

	&__wrap {
		box-sizing: border-box;

		@media @screen-large {
			max-width: 880*@multiplier-large;
			padding: 80*@multiplier-large 40*@multiplier-large 80*@multiplier-large;
			margin: 0 auto;
		}

		@media @screen-medium-up {
			max-width: 880px;
			padding: 80px 40px 80px;
			margin: 0 auto;
		}

		@media @screen-medium-down {
			max-width: 880/@multiplier-medium;
			padding: 80/@multiplier-medium 40/@multiplier-medium 80/@multiplier-medium;
			margin: 0 auto;
		}

		@media @screen-small {
			padding: 30/@multiplier-small 20/@multiplier-small;
		}
	}

	&__date {
		display: inline-block;
		border: 1px solid #555;

		@media @screen-large {
			padding: 1*@multiplier-large 14*@multiplier-large;
			font-size: 14*@multiplier-large;
		}

		@media @screen-medium-up {
			padding: 1px 14px;
			font-size: 14px;
		}

		@media @screen-medium-down {
			padding: 1/@multiplier-medium 14/@multiplier-medium;
			font-size: 14/@multiplier-medium;
		}

		@media @screen-small {
			padding: 1/@multiplier-small 14/@multiplier-small;
			font-size: 14/@multiplier-small;
			margin-bottom: 40/@multiplier-small;
		}
	}

	h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;

		@media @screen-large {
			text-align: center;
			font-size: 48*@multiplier-large;
			line-height: 52*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
			width: 650*@multiplier-large;
			margin: 0 auto 45*@multiplier-large;
		}

		@media @screen-medium-up {
			text-align: center;
			font-size: 48px;
			line-height: 52px;
			letter-spacing: -1px;
			width: 650px;
			margin: 0 auto 45px;
		}

		@media @screen-medium-down {
			text-align: center;
			font-size: 48/@multiplier-medium;
			line-height: 52/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
			width: 650/@multiplier-medium;
			margin: 0 auto 45/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 32/@multiplier-small;
			line-height: 36/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
			margin-bottom: 25/@multiplier-small;
		}
	}

	h2 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;

		@media @screen-large {
			text-align: center;
			font-size: 32*@multiplier-large;
			letter-spacing: -1*@multiplier-large;
			padding: 16*@multiplier-large 0 0;
			margin-bottom: 30*@multiplier-large;
			line-height: 38*@multiplier-large;
		}

		@media @screen-medium-up {
			text-align: center;
			font-size: 32px;
			letter-spacing: -1px;
			padding: 16px 0 0;
			margin-bottom: 30px;
			line-height: 38px;
		}

		@media @screen-medium-down {
			text-align: center;
			font-size: 32/@multiplier-medium;
			letter-spacing: -1/@multiplier-medium;
			padding: 16/@multiplier-medium 0 0;
			margin-bottom: 30/@multiplier-medium;
			line-height: 38/@multiplier-medium;
		}

		@media @screen-small {
			font-size: 26/@multiplier-small;
			letter-spacing: -1/@multiplier-small;
			padding: 16/@multiplier-small 0 0;
			margin-bottom: 30/@multiplier-small;
			line-height: 32/@multiplier-small;
		}
	}

	&__content {
		@media @screen-large {
			padding: 45*@multiplier-large 0 0;
		}

		@media @screen-medium-up {
			padding: 45px 0 0;
		}

		@media @screen-medium-down {
			padding: 45/@multiplier-medium 0 0;
		}

		@media @screen-small {

		}
	}

	img {
		display: flex;
		margin: 0 auto;

		@media @screen-large {
			max-width: 800*@multiplier-large;
			margin-bottom: 30*@multiplier-large;
		}

		@media @screen-medium-up {
			max-width: 800px;
			margin-bottom: 30px;
		}

		@media @screen-medium-down {
			max-width: 800/@multiplier-medium;
			margin-bottom: 30/@multiplier-medium;
		}

		@media @screen-small {
			max-width: 325/@multiplier-small;
			margin-bottom: 25/@multiplier-small;
		}
	}

	p {
		@media @screen-large {
			margin-bottom: 24*@multiplier-large;
		}

		@media @screen-medium-up {
			margin-bottom: 24px;
		}

		@media @screen-medium-down {
			margin-bottom: 24/@multiplier-medium;
		}

		@media @screen-small {
			margin-bottom: 24/@multiplier-small;
		}
	}

	ul {
		@media @screen-large {
			margin: -14*@multiplier-large 0 24*@multiplier-large;
		}

		@media @screen-medium-up {
			margin: -14px 0 24px;
		}

		@media @screen-medium-down {
			margin: -14/@multiplier-medium 0 24/@multiplier-medium;
		}

		@media @screen-small {
			margin: -14/@multiplier-small 0 24/@multiplier-small;
		}

		li {
			position: relative;

			@media @screen-large {
				padding-left: 30*@multiplier-large;
				margin-bottom: 10*@multiplier-large;
			}

			@media @screen-medium-up {
				padding-left: 30px;
				margin-bottom: 10px;
			}

			@media @screen-medium-down {
				padding-left: 30/@multiplier-medium;
				margin-bottom: 10/@multiplier-medium;
			}

			@media @screen-small {
				padding-left: 30/@multiplier-small;
				margin-bottom: 10/@multiplier-small;
			}

			&:before {
				content: "";
				position: absolute;
				background: #555;
				border-radius: 50%;

				@media @screen-large {
					width: 6*@multiplier-large;
					height: 6*@multiplier-large;
					left: 10*@multiplier-large;
					top: 8*@multiplier-large;
				}

				@media @screen-medium-up {
					width: 6px;
					height: 6px;
					left: 10px;
					top: 8px;
				}

				@media @screen-medium-down {
					width: 6/@multiplier-medium;
					height: 6/@multiplier-medium;
					left: 10/@multiplier-medium;
					top: 8/@multiplier-medium;
				}

				@media @screen-small {
					width: 6/@multiplier-small;
					height: 6/@multiplier-small;
					left: 10/@multiplier-small;
					top: 8/@multiplier-small;
				}
			}
		}
	}

	ol {
		@media @screen-large {
			margin: -14*@multiplier-large 0 24*@multiplier-large;
			padding-left: 25*@multiplier-large;
		}

		@media @screen-medium-up {
			margin: -14px 0 24px;
			padding-left: 25px;
		}

		@media @screen-medium-down {
			margin: -14/@multiplier-medium 0 24/@multiplier-medium;
			padding-left: 25/@multiplier-medium;
		}

		@media @screen-small {
			margin: -14/@multiplier-small 0 24/@multiplier-small;
			padding-left: 25/@multiplier-small;
		}

		li {
			position: relative;

			@media @screen-large {
				padding-left: 7*@multiplier-large;
				margin-bottom: 10*@multiplier-large;
			}

			@media @screen-medium-up {
				padding-left: 7px;
				margin-bottom: 10px;
			}

			@media @screen-medium-down {
				padding-left: 7/@multiplier-medium;
				margin-bottom: 10/@multiplier-medium;
			}

			@media @screen-small {
				padding-left: 7/@multiplier-small;
				margin-bottom: 10/@multiplier-small;
			}
		}
	}

	a {
		text-decoration: none;
		color: #16666f;
		border-bottom: 1px solid #16666f;
		cursor: pointer;

		&:hover {
			border-bottom: none;
		}
	}
}