@import "global";

#colorbox {
	outline: 0;
}

#cboxContent {
	position: relative;
	margin: 20px;
	padding: 30px;
	background: #fff;
	outline: none;
}

#colorbox, #cboxOverlay, #cboxWrapper{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9991;
	overflow: hidden;
}

#cboxOverlay {
	background: rgba(0, 0, 0, 0.8);
	opacity: 1!important;
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
}

#cboxLoadedContent {
	padding-left: 20px;
	padding-right: 20px;
}

.registration-form-1__step-1 {
	padding: 20px 30px;
	display: block;
	width: 100%;
	min-width: 440px;
	box-sizing: border-box;
}

.cb_close_btn {
	display: block;
	position: absolute;
	cursor: pointer;
	height: 16px;
	width: 16px;
	top: 15px;
	right: 15px;

	svg {
		display: block;
		fill: rgba(0, 0, 0, 0.4);
		height: 100%;

		&:hover {
			fill: #555;
		}
	}
}

.form-group {
	position: relative;
	border: none;
	margin-bottom: 40px;
}

.registration-form-1__step-1 h1, .registration-form-1__step-2 h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #555;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -1px;
	text-align: center;
	margin-bottom: 50px;
}

.form-control {
	display: block;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	width: 100%;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	color: #CFD2D8;
	background-color: transparent;
	background-image: none;
	border: none;
	border-bottom: 1px solid #CFD2D8;
	outline: none;
	transition: all 0.3s ease-out;
}

.form-control:focus {
	color: #16666f;
	border-bottom-color: #16666f;
}

.registration-form-1__step-1-fieldset-group {
	display: flex;
	margin: 0 -6px 36px;
}

.registration-form-1__step-1-fieldset-group .form-group {
	width: 50%;
	margin: 0 6px 40px;
}

.registration-form-1__step-1-registration-btn-wrap {
	text-align: center;
}

.registration-form-1__step-1-registration-btn {
	position: relative;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	cursor: pointer;
	background: #16666f;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #218b97;
	font-size: 16px;
	line-height: 43px;
	padding: 0 40px;
}

.js--reg-form-submit-loader {
	position: absolute;
	height: 45px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	img {
		height: 100%;
	}
}

.registration-form-1__step-1-registration-btn:hover {
	background: #22747d;
}

@media only screen and (max-width: 610px) {
	#cboxContent {
		margin: 10px;
	}

	.registration-form-1__step-1 {
		padding: 0;
		min-width: auto;
	}

	.registration-form-1__step-1 h1 {
		font-size: 1.375rem;
	}

	.form-control {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 414px) {
	.registration-form-1__step-1 h1 {
		margin-bottom: 40px;
	}

	.form-group {
		margin-bottom: 30px;
	}

	.registration-form-1__step-1-fieldset-group {
		flex-direction: column;
	}

	.registration-form-1__step-1-fieldset-group .form-group {
		width: 100%;
		margin: 0 0 30px;
	}

}

.registration-form-1__error {
	position: absolute;
	font-size: 12px;
	line-height: 16px;
	color: rgba(214, 45, 45, 0.7);
}

.registration-form-1__step-2-description {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #555;
}

.registration-form-1__step-2 {
	max-width: 440px;
}

.registration-form-1__step-2 h1 {
	margin-bottom: 25px;
}

.invisible {
	opacity: 0;
}